[2017-11-11 11:28] hoppus opened #1 "Carthage support"
Add please Carthage support

[2017-11-13 05:15] harish-kumarc commented on #1
Hi @hoppus
Yes we will do support for Carthage in future but not now, Currently we are working on lined-up enhancements and fixed for available SDK.

Thanks

[2017-11-27 13:47] eshwartm opened #2 "Crash with CoreData"
There is a crash with this message. `CoreData: error:  Cannot load NSManagedObjectModel.  nil is an illegal URL parameter`

`let freshChatConfig: FreshchatConfig = FreshchatConfig(appID: FRESHCHAT_APP_ID, andAppKey: FRESHCHAT_APP_KEY)`
 `Freshchat.sharedInstance().initWith(freshChatConfig)` <- It happened on this line.

[2017-11-28 06:29] SanjithKanagavel commented on #2
Hey Eshwar,

Thanks for reaching us. This error has potentially caused because of Freshchat core-data model not loaded properly to the project.  Would recommend the following methods to debug this out.

- Please confirm FreshchatModels.bundle in FreshchatSDK pod has included the current project in Target Membership.
- Try clearing xcode derived data, clean & rebuild the project again.
- Try re-ins

[2017-11-29 07:36] artFintch opened #3 "Push Notifications"
Hello!

I'm trying to implement push notifications from for Freshchat but seems to be it doesn't work. Did I need to use the prefix team id for this bundle id field?
<img width="872" alt="screen shot 2017-11-29 at 12 21 35" src="https://user-images.githubusercontent.com/1075698/33363051-87ada05c-d500-11e7-94cd-6d1820f01c69.png">

I tried different variation... I see this in conversation info:
<img

[2017-11-29 08:18] harish-kumarc commented on #3
Hi @artFintch
In push notification settings page you need to upload your correct push certificate with **Password** and your **App’s Bundle Id**, without team prefix.

After updating the bundle id, if it still doesn't work, can you please email us the conversation id(s) where you are seeing this to support@freshchat.com and we'll take it forward from there.

[2018-01-12 03:02] herarya opened #4 "Integration on react native"
hi guys,
How to integration react native

[2018-01-16 12:42] tryprasannan commented on #4
@herarya We don't have an official wrapper for React Native at the moment. You can try writing a wrapper on top of our existing API of Native SDK. If you run into any specific trouble you can drop a line to support@freshchat.com

[2018-01-16 12:42] #4 closed

[2018-01-17 12:56] wbison opened #5 "Duplicate symbols"
The FreshChat framework uses symbols without prefix causing duplicate symbol errrors, such as these about type 'Message' which is used in our app:

[2018-01-17 13:14] wbison opened #6 "Present Conversations in popup"
I'd like to present the conversations in a popup on iPad:
[code]

This shows a popup with "Loading Messages" and a spinning indicatorview.

What's the proper way to do this?

[2018-01-17 14:05] harish-kumarc commented on #5
Thanks for bringing this to our notice, we will fix this in a subsequent release. If you can't wait, I would recommend you to update your class' name.

[2018-01-17 18:36] harish-kumarc commented on #6
Hi @wbison
Freshchat’s message screen UI isn’t fully resonate with popups so are not recommended. We will surely improve that in our later releases.
To resolve the loading issue, you need add embedded Freshchat controller with UINavigationController and add that as childViewController in your popup view. For eg-
[code]
Thanks

[2018-01-21 10:53] hansemannn opened #7 "Umbrella header does not match SDK naming conventions"
Hey there! One of our customers wants to use your SDK for their iOS application. They use [Appcelerator Hyperloop](http://www.appcelerator.com/mobile-app-development-products/hyperloop/) to access the SDK through JavaScript, but are not able to use it due to the fact that the umbrella-header (Freshchat.h) is named differently to the framework name (FreshchatSDK). This is quite uncommon, so Hyperlo

[2018-01-22 13:47] harish-kumarc commented on #7
@hansemannn, Thanks for reporting this, we will improve this in a future release.

[2018-02-01 09:11] harish-kumarc commented on #3
@artFintch Closing this issue due to inactivity. If you're still facing this please respond here to reopen or email support@freshchat.com

[2018-02-01 09:11] #3 closed

[2018-02-01 09:16] harish-kumarc commented on #2
@eshwartm This will happen only if the core data models did not load correctly. Closing this as we haven't heard from you. Please reply here to reopen or contact to support@freshchat.com

[2018-02-01 09:16] #2 closed

[2018-02-02 08:39] herarya opened #8 "Shared instance with user not send to server"
@SanjithKanagavel hi, i set instance with user, not show user info on fresh chat dashboard

this my code

 `let fchatConfig = FreshchatConfig.init(appID: appId, andAppKey: appKey) //Enter your AppID and AppKey here
   Freshchat.sharedInstance().initWith(fchatConfig)

    // Create a user object
    let user = FreshchatUser.sharedInstance();
    // To set an identifiable first name for the user

[2018-02-02 08:56] SanjithKanagavel commented on #8
Hey @herarya. I could understand your query.
- You could only see **registered Freshchat user** on your [dashboard](https://web.freshchat.com/people).
- User gets **registered when initiates message** (first message) from any of your channels. You can use this code `Freshchat.sharedInstance().showConversations(self)`  to present channels and try sending the message from any channel.
- Also, you sh

[2018-02-02 09:23] herarya commented on #8
@SanjithKanagavel hhaha, sorry my english not good, i mean user information not show, in Conversations dashboard inbox, https://web.freshchat.com/inbox/0/0 ,

now still random name like "Squeaking Donut"

[2018-02-02 14:51] tryprasannan commented on #8
@herarya Do you see this for multiple users ? Do you have any specific steps to reproduce this issue ? We verified this on our sample and wasn't able to reproduce this issue.

[2018-02-03 09:41] herarya commented on #8
@tryprasannan thanks for replay, we follow from this https://support.freshchat.com/support/solutions/articles/229394-freshchat-ios-sdk-swift-integration-guide

and this my full code

`@objc(FreshChatSdk)
class FreshChatSdk: NSObject {

  @objc func setInitFreshchatSDK(_ appId:String,appKey:String){
    let fchatConfig = FreshchatConfig.init(appID: appId, andAppKey: appKey) //Enter your AppID and A

[2018-02-05 09:56] SanjithKanagavel commented on #8
@herarya. I am not sure where you're calling **setInitFreshchatSDKWithUser** function. Also please confirm that you're using latest version of SDK.

I have attached a sample project with similar implementation as above please try them and let us know how it works.

[ObjectiveCSample.zip](https://github.com/freshdesk/freshchat-ios/files/1694589/ObjectiveCSample.zip)

[2018-02-06 02:27] herarya commented on #8
@SanjithKanagavel @tryprasannan thanks bro, i recheck my code and update latest sdk 💃

[2018-02-06 02:30] #8 closed

[2018-02-06 10:34] harish-kumarc commented on #7
@hansemannn, In latest release v1.3.0 we have updated SDK header file from Freshchat.h to FreshchatSDK.h for naming consistency. Do let us know if the header conflict issue is fixed with newer version.

[2018-02-06 11:27] hansemannn commented on #7
Awesome, appreciate it @harish-kumarc! :-)

[2018-02-06 11:27] #7 closed

[2018-02-19 13:53] #6 closed

[2018-02-21 21:40] wjsimard opened #9 "Cancel button does not work (Photos)"
When clicking on "Upload from gallery" or "Take picture" in a conversation, the right button cancel in navigation bar does nothing.

[2018-02-22 07:15] SanjithKanagavel commented on #9
Hi @wjsimard,
This looks working in our devices and simulator. Can you please share us your iOS and Xcode version? If you are testing in Simulator, can you test in real device ?

[2018-02-23 16:04] wjsimard commented on #9
Hi! I finally found it was another library named BlocksKit that was interfering. I was able to remove it from my project, but maybe you could investigate if time allows it. I was able to reproduce my situation in your Sample Project in Objective C by adding: pod 'BlocksKit' in the podfile. Thank you.

[2018-03-02 13:21] dcondrau commented on #1
Carthage is not supported yet, correct?

[2018-03-02 16:27] tryprasannan commented on #1
@dcondrau Yes, we don't support this yet.

[2018-03-02 16:43] dcondrau commented on #1
@tryprasannan Thanks for the replly. Do you have any tips how to add the library manually to Xcode project? Not even sure if that is possible? We are on Swift+Carthage and won't add Cocoapods to the mixl.
I did the following without success:
- added libFDFreshchatSDK.h to "Linked Frameworks and Libraries"
- added FreshchatSDK.h to "Framework Search Paths"
- added #import "FreshchatSDK.h" to Objc-B

[2018-03-02 18:50] harish-kumarc commented on #1
Correct @dcondrau officially not yet. But you can build it via creating dynamic framework with Freshchat SDK and add to separate branch for use. We will surely keep you updated about Carthage support.

[2018-03-14 21:48] danilobuerger opened #10 "Remove "Powered by Freshchat""
Is it possible to remove the "Powered by Freshchat" text beneath the input?

[2018-03-15 05:41] SanjithKanagavel commented on #9
Thanks for letting us know this. We will try to reproduce it at our end and improve our SDK behaviour in upcoming releases.

[2018-03-15 05:41] #9 closed

[2018-03-15 09:52] harish-kumarc commented on #10
@danilobuerger We can help you with technical queries only here. Our support team or your account manager would be able to assist you regarding this, please email us at support@freshchat.com

[2018-03-15 09:52] #10 closed

[2018-03-15 09:53] danilobuerger commented on #10
@harish-kumarc but that's what I am asking: Is it **technically** possible, for example through a config flag, to remove the "Powered by Freshchat" text?

[2018-03-15 12:23] harish-kumarc commented on #10
Its technically possible. Please reach out to our team at support@freshchat.com for further assistance.

[2018-04-13 07:58] kalidosstesark commented on #2
am also facing same issues

#  Cannot load NSManagedObjectModel.  nil is an illegal URL parameter

2018-04-13 13:24:01.636225+0530 MyApp[18630:161588] [error] error:  Cannot load NSManagedObjectModel.  nil is an illegal URL parameter

CoreData: error:  Cannot load NSManagedObjectModel.  nil is an illegal URL parameter

[2018-04-13 08:31] harish-kumarc commented on #2
Hi @kalidosstesark , Can you please try the steps mentioned by @SanjithKanagavel above. Let us know if the issue still persists after that.

Thanks

[2018-04-27 08:35] eshwartm opened #11 "API or webhook to fetch all chats per user"
Is there a API or webhook or something we can fetch all the chats in our freshchat integration ?

[2018-04-29 18:55] tryprasannan commented on #11
@eshwartm Can you please expand on what you're trying to achieve ?

This repo contains SDK to include in your app for your users to reach out to you/the business and the business can respond from Freshchat Web Portal or Mobile apps on Android & iOS.

[2018-05-09 18:05] ajinkyashelar opened #12 "Loading indefinitely Sometimes & No Push notifications"
Hi,

It woule be great if you can help me resolve some of my issues.

I have integrated the FreshChat iOS SDK 1.3.2 in one of my iOS apps.

1. Sometimes or mostly on the first time launch of the app when the fresh chat is invoked using below method the conversation screen is presented but it gets stuck on loading screen for an indefinite time.
`Freshchat.sharedInstance().showConversations(self)`

[2018-05-10 22:42] harish-kumarc commented on #12
Hi @ajinkyashelar
Here's the resolution for your queries/issues with Freshchat integration -
1. Delay in first time channels/conversation loading : First time after Freshchat init, conversations API fetch all your channels list and and in recursive loads it usually update. Usually delay in loading happens due to factors like rough network/ erroneous implementation. It would be great if you can sha

[2018-05-11 14:11] ajinkyashelar commented on #12
Hi @harish-kumarc

Thanks for your response,
1. I have confirmed this and the issue persist only when fresh chat is initiated on the first launch of the app. No solution on it yet.
2. Done. We were able to get this resolved by uploading a fresh Production certificate after multiple attempts.
3. You were right now this is working well.

[2018-05-11 19:51] harish-kumarc commented on #12
Great! @ajinkyashelar your issue no. 2. and 3. are resolved.
For issue 1. - We cross checked and are'nt able to replicate infinite loading in conversation screen issue on our side.

Can you give us more context and please provide us the following infos from your side to debug it
- Are you initialising SDK in AppDelegate or doing it in same method/function where you are calling show conv. api. (nee

[2018-05-16 12:12] ethan-hunt-007 opened #13 "Crash on Freshchat init"
Hi, Since the day I inserted freshchat, I am getting crash on the following line:
`Freshchat.sharedInstance().initWith(config)`
which is happening during app start while initialization. It would be of great help if someone could solve this issue. Attached below is the stack trace from crashlytics for reference.
[code]

and the `configurePartnerChatClient(UIApplication, launchOptions : [AnyHashable

[2018-05-17 08:56] ethan-hunt-007 commented on #13
Hi @harish-kumarc , that line only contains the first line of the stack trace given in the crash above. Moreover, the crash can't be replicated and is happening only on production. However, I can provide you with some of the information requested above.

1> Freshchat v1.2.1
2> Prod app name : UCPartner - https://itunes.apple.com/in/app/uc-partner/id982922982?mt=8
3> Device info:- iOS v11 - 98% cra

[2018-05-17 09:34] harish-kumarc commented on #13
Thanks @ethan-hunt-007  for the info and we are closely monitoring this on our side. Even we aren't able to replicate the crash on our side.
Can you please update the SDK to latest version as we observed some inconsistency with swift and fixed it with release v1.2.5 (https://github.com/freshdesk/freshchat-ios/releases/tag/v1.2.5)
Thanks

[2018-05-18 16:55] gkye opened #14 "Customize In app banner"
Would be nice to have an option to customize the in app banner being presented.

[2018-05-19 15:13] ethan-hunt-007 commented on #13
[code]

This is the crash happening when you run the app in production.

[2018-05-20 13:12] harish-kumarc commented on #14
@gkye thanks for your suggestion : ). Sure we will look into that option too and keep you updated.

[2018-05-20 14:06] harish-kumarc commented on #13
@ethan-hunt-007 , thanks for the crashlogs (: We had already identified the above crash for "UI API called on a background thread" and fixed it with release [v1.2.3](https://github.com/freshdesk/freshchat-ios/releases/tag/v1.2.3) . Please update to latest version v1.3.3 of iOS SDK.
Thanks

[2018-05-21 04:01] ethan-hunt-007 commented on #13
Hi @harish-kumarc ,
Apart from the above crash, the app also crashes during app launch, the one that is in the first comment : [https://github.com/freshdesk/freshchat-ios/issues/13#issue-323593498](url).
We have already updated the app to the latest version. Will let you know if there's still any issue.

[2018-05-25 05:49] iranjith4 commented on #2
The same crash happened to me.

[code]

Just cleaned the project and ran it. Works fine. Thanks @SanjithKanagavel

[2018-05-31 16:38] gkye commented on #10
Any update on this?

[2018-05-31 16:45] danilobuerger commented on #10
@gkye I stopped looking into freshchat after this as I found this to be somewhat intransparent.

[2018-05-31 16:53] tryprasannan commented on #10
@gkye @danilobuerger We've shared its technically possible. Your account manager is the best person to help you with this. Otherwise you can  always email our team at  support@freshchat.com for further assistance regarding this

[2018-06-21 11:03] agusso commented on #12
Hi @harish-kumarc , I experience exactly the same problem as @ajinkyashelar on issue 1 where at the first time launch of the app when the fresh chat is invoked, it gets stuck on loading screen for an indefinite time. It only happen at the first launch when the same app is not installed in the device.

#### Method called:
Freshchat.sharedInstance().showConversations(self)

#### SDK used:
version 1.

[2018-06-21 12:29] harish-kumarc commented on #12
HI @agusso ,
The common reasons for infinite loading are invalid Freshchat's appId/appKey or init itself not getting called. Can you please add breakpoints and check if init is getting called(in first launch) and also check for valid appId/appKey are available with init method.
We failed to replicate the issue using the steps you mentioned above.
We recommend you to check same with Freshchat's sam

[2018-06-21 14:33] agusso commented on #12
Hi @harish-kumarc,

`The init is called in first launch and it is put in didFinishLaunchingWithOptions

        let freschatConfig: FreshchatConfig = FreshchatConfig.init(appID: chatAppId, andAppKey: chatAppKey)

        // Theme
        freschatConfig.themeName = "ChatTheme"

        // Features config
        freschatConfig.gallerySelectionEnabled = true
        freschatConfig.cameraCaptureEnabl

[2018-06-21 19:20] harish-kumarc commented on #12
@agusso
I am not sure if the exact values are passed for "chatAppId" and "chatAppKey", into your init code. I am attaching here a sample project with same code that you have added above. Please check and update us about it (:
Also need a basic confirmation from your side that the you have activated Freshchat's account after receiving the welcome email.

Thanks
[SwiftSample.zip](https://github.com/

[2018-06-27 11:07] romit07 opened #15 "Local notification for unread messages not working everytime"
I integrated freshchat and chat is working fine. However the notification for reading unread messages is working only when freshchat window is open.
This is my code:

  func freshchatSetup() {
    if APIManager.sharedManager.isUserLoggedIn() {
      // Create a user object
      let fuser = FreshchatUser.sharedInstance();
      // To set an identifiable first name for the user
      fuser?.firstNa

[2018-06-27 12:14] SanjithKanagavel commented on #15
Hey @romit07 , Thanks for posting this here.

_Event `FRESHCHAT_UNREAD_MESSAGE_COUNT` will be called when there is any update in the unread messages._

In your case, since when calling showConversation() will present channels list(if you have more than one channel) or message detail(if its a single channel). If you go to message detail of any channel its unread messages will be updated as read, so

[2018-06-27 15:15] agusso commented on #12
@harish-kumarc
Apparently in my case the Freshchat init is called before clearing the keychain.
Whenever the keychain is cleared, it needs to initialise the Freshchat again.

[2018-06-28 08:13] romit07 commented on #15
the code snippet
       Freshchat.sharedInstance().unreadCount { (unreadCount) in
          print(unreadCount)
     }

is working fine, it's giving me unread whenenever this is called, but the issue is i'm not getting a call in the selector method for  Notification.Name(FRESHCHAT_UNREAD_MESSAGE_COUNT) notification. I get this notification only when freshchat window is open i.e showConversation() m

[2018-06-28 08:34] SanjithKanagavel commented on #15
@romit07  I will explain cases where **FRESHCHAT_UNREAD_MESSAGE_COUNT** will be called if there is any new unread messages.

-  When there is any new incoming message and haven't read yet, if you are Freshchat push notifications with `handleRemoteNotification` function in your app delegate `didReceiveRemoteNotification`

-  When there is any new incoming message and haven't read yet, if you initia

[2018-06-28 15:56] harish-kumarc commented on #12
@agusso
Yes, we store some info's in secure store/keychain and clearing will surely result into infinite loading as some keys are req. for initialisation and freshchat apis. Thanks for the information. Awesome you resolved the issue 👍
Thanks

[2018-06-29 07:15] #12 closed

[2018-07-16 08:01] lyubimovm opened #16 "Crash on FDMessageController updateBottomViewWith:andHeight:"
There is a crash reports pointing to freshchat-ios library
`Fatal Exception: NSInvalidArgumentException
*** -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[0]`

[code]
Unfortunately I could not reproduce the problem. I only see the periodic crashes in Crashlytics.
Freshchat iOS SDK v1.4.1 and earlier
Crashes occurs in any versions of iOS

[2018-07-16 08:56] SanjithKanagavel commented on #16
@lyubimovm. Thanks for sharing this. We will investigate on this.

Please share the following details :
1. Share us the full **Crashlytics** crash log to support@freshchat.com
2. Steps to reproduce crash if you were able to do it.

[2018-07-16 20:48] lyubimovm commented on #16
1. Full crash log sent to support email
2. The problem was observed in all versions over the last 3 months. The latest version of freshchat-ios library which is in the production - 1.4.1
3. Unfortunately STR was not found

[2018-07-17 06:18] SanjithKanagavel commented on #16
@lyubimovm. Thanks for sharing us the details. We will try to investigate on this issue and fix them.

[2018-07-20 05:58] SanjithKanagavel commented on #16
@lyubimovm we have fixed this issue in v1.4.6. Thanks for letting us know this.

[2018-07-20 05:58] #16 closed

[2018-07-30 06:53] AlexZd opened #17 "Image preview close button"
Image preview close button goes under status bar on iPhone X, hence I'm not able to close this preview with this button. Is there way to adjust it's position?
![simulator screen shot - iphone x - 2018-07-30 at 10 49 14](https://user- images.githubusercontent.com/5249914/43381706-91b327fc-93e6-11e8-80b5-3dad807426c2.png)

[2018-07-30 07:19] SanjithKanagavel commented on #17
@AlexZd Thanks for sharing this, we will investigate on this issue.

[2018-08-03 12:16] SanjithKanagavel commented on #17
@AlexZd We were able to reproduce this issue. We will enhance this behaviour in our future release.

[2018-08-10 08:43] harish-kumarc commented on #14
@gkye We supports complete customization of SDK screens and customizing **In-App Notification Banner** comes under **Notification** key in FCTheme.plist file. Complete theme guide is available [here](https://support.freshchat.com/solution/articles/229814-freshchat-ios-sdk-themes)

[2018-08-13 04:28] gabors commented on #1
Can you guys please provide instructions how to add the libFDFreshchatSDK.a to a pure swift project.
I've added it as I would normally add a static library with a bridging headers, similar to what @dcondrau described.  In my case I do not see the No such module error, but I do get 22 build errors:

`Undefined symbols for architecture x86_64:
  "_NSSQLiteStoreType", referenced from:
      -[Konotor

[2018-08-13 12:13] harish-kumarc commented on #1
Hi @gabors , Can you please check if all req. frameworks for Freshchat are added. Here is the list **Foundation**, **AVFoundation**, **AudioToolbox**, **CoreMedia**, **CoreData**, **ImageIO**, **Photos**, **SystemConfiguration**, **Security**

[2018-08-15 08:29] harish-kumarc commented on #5
@wbison , We have fixes the **Duplicate Symbols** class issue with our latest SDK release [v1.5.0](https://github.com/freshdesk/freshchat-ios/releases/tag/v1.5.0) :). Please update and let us know. Thanks

[2018-08-20 08:31] #14 closed

[2018-08-20 08:39] #5 closed

[2018-08-20 08:41] MuthuFD commented on #4
Hi @herarya , We have release alpha version of our React Native SDK.
Please refer here for documentation and sdk - https://rnfreshchatsdk.firebaseapp.com

[2018-08-20 08:53] harish-kumarc commented on #13
@ethan-hunt-007 We are closing the issue, do let us know if it appears again.

[2018-08-20 08:53] #13 closed

[2018-08-20 08:58] herarya commented on #4
@MuthuFD thanks bro , awesome

[2018-08-27 11:43] abocharova commented on #15
Hi guys, do you have any news about this ticket? We experiencing also problems with chat counter when we receive push while app is in background.

[2018-08-27 19:04] SanjithKanagavel commented on #15
@abocharova

We have improved the unread count behavior in [v1.5.0](https://github.com/freshdesk/freshchat-ios/releases/tag/v1.5.0).
**FRESHCHAT_UNREAD_MESSAGE_COUNT_CHANGED** Event now lets you know there's change in unread count. You can get updated unread count only by calling **unreadCountWithCompletion/unreadCountForTags**.

For reference, check the below snippet :
[code]
The above snippet pr

[2018-08-27 19:06] SanjithKanagavel commented on #15
@romit07 Please update your SDK to [v1.5.0](https://github.com/freshdesk/freshchat-ios/releases/tag/v1.5.0) and implement as suggested in [above comment](https://github.com/freshdesk/freshchat-ios/issues/15#issuecomment-416333268). Let us know if this is resolved.

[2018-08-28 09:00] abocharova commented on #15
@SanjithKanagavel we are using already v1.5.0. But still have the problem, whenever we open our app (not chat) count becomes 0 while messages are not yet read.

[2018-08-28 13:04] SanjithKanagavel commented on #15
@abocharova Can you share share your implementation logic for fetching unread count ?

[2018-08-28 14:05] SanjithKanagavel commented on #15
@kabirkhaan  Thanks for sharing us the code.

Can you confirm few things :

- [ ] Make sure `syncUnreadCount` function is called on app launch. `breakpoint` or `print` statement would help with that.

- [ ] Make sure you have channels for tags -> `tag1` and `tag2`. You can confirm it from the [portal](web.freshchat.com) > Settings > Message Channels.

- [ ] Also try with count api without tags.
``

[2018-08-30 10:17] abocharova commented on #15
We have done already all this things. Can you suggest anything else? @SanjithKanagavel

[2018-09-07 06:32] SanjithKanagavel commented on #15
@abocharova. If you don't open app via SDK push notification, you should see updated unreadCount only after 2 mins after the last fetch time.

[2018-09-11 14:41] lyubimovm opened #18 "Core Data related crashes on iOS 12"
Crashes contains error messages:
[code]
[code]
[code]
All users are on iOS 12.
It is noteworthy that each user with crash have bunch of similar crashes

SDK version 1.4.6.
STR was not found :(
Full logs was sent to support@freshchat.com

[2018-09-11 17:17] harish-kumarc commented on #18
Hi @lyubimovm , Thanks for the logs :).
Logs refers to frailty in loading Freshchat core-data model. If possible can you please share the steps to replicate the crash. Please update SDK to 1.5+ as we have added some core-data changes, also try steps mentioned in [thread](https://github.com/freshdesk/freshchat-ios/issues/2#issuecomment-347426924) and let us know if the crash still persists.
Thanks

[2018-09-17 05:30] MuthuFD commented on #4
Yes @Martian2Lee . We will be officially releasing react-native support in both GitHub and NPM. We will update in this thread when we release.

Currently we have an alpha version out. If you have any queries, please feel free to mail us at support@freshchat.com.

[2018-09-23 13:17] gianpaj commented on #4
Looks great!
I managed to test it on the iOS 🎉

<img src="https://thumbs.gfycat.com/SecondarySilentIlladopsis-size_restricted.gif" width="400">

looking forward to the Production release ;)

[2018-09-23 16:07] shoaibmerchant commented on #4
@MuthuFD Hi I am trying to setup Freshchat SDK in iOS (without Cocoapods). Can you help me manual steps on linking it with the xcode project. I tried adding the .a file to Link Library and also add the xcodeproj. I also added the directory in the Header Search Paths. But it still keeps throwing linker errors such as 'Undefined symbols for the architecture x86_64'

[2018-10-03 17:18] bobby-snap commented on #15
@SanjithKanagavel I believe I'm experiencing a similar issue as the others described here. I've added an observer to manually respond to unread messages within my app, but the notification is never fired.

Some code similar to what I'm doing...
[code]

I'm not opening the app from a push notification (which.. also isn't working, but focusing on one thing here) but am trying to respond to messages

[2018-10-05 09:46] SanjithKanagavel commented on #15
Hey @bobby-snap , please reach out to support@freshchat.com so that one of our team member will schedule a call to understand the issue better.

[2018-10-12 20:17] acgourley opened #19 "react-native feature request for dismissFreshchatViews"
I've been using the preview sdk and it has been working well so far. Thanks for making the preview available.

I was curious if the SDK could add support for the native call to dismissFreshchatViews. It's a small thing I could even do it via a pull request if there is a repository for the react-native sdk.

[2018-10-15 11:57] jnabhan opened #20 "Crash when freschatConfig.teamMemberInfoVisible = true"
The chat widget is crashing when an agent who has a profile picture is assigned to a chat and when freschatConfig.teamMemberInfoVisible = true.
It seems to be happening after the profile picture gets downloaded. Otherwise, the chat is working perfectly fine.

Here is the full stacktrace:

2018-10-15 13:44:31.432470+0300 TestApplication[51142:7373672] +[UIImage fd_imageWithData:]: unrecognized sele

[2018-10-17 09:55] atmamont opened #21 "Accessibility identifiers for views"
Is it possible to add some accessibility identifiers? At least one for `FDMessageController`'s view to use it in UI tests to check if FC was opened.

[2018-10-18 05:09] shruezee commented on #1
Hi
Im on XCode 8 and migrating project to 9.4.1 which is giving following error
"Module compiled with Swift 3.1 cannot be imported in Swift 3.3.2: ~projectModulePath/Alamofire.framework/Modules/Alamofire.swiftmodule/x86_64.swiftmodule" I have tried following to ressolve
1.  Rebuild all pod with carthage
2. carthage update --platform iOS
even removed other versions of xcode to have one compiler ver

[2018-10-18 06:59] harish-kumarc commented on #1
Hi @shruezee ,
Can you check [here](https://stackoverflow.com/questions/44399109/xcode-9-module-compiled-with-swift-3-1-cannot-be-imported-in-swift-4-0) for similar issue while building. Also you can have a look initial version of Freshchat Carthage here- : https://github.com/freshdesk/freshchat-ios/tree/carthage.

Thanks
Harish

[2018-10-19 05:30] shruezee commented on #1
Many Thanks @harish-kumar for your quick response.

Just double checked and confirming In SO link i have followed the steps 1. sudo xcode-select --switch /Applications/Xcode-beta.app/Contents/Developer and 2. Update with No use binaries still i had same issue.

This project just using Almofire and Swifty-JSON and not using Chat for using the freshchat-ios.

Please let me know if you need more info

[2018-10-19 22:07] harish-kumarc commented on #20
@jnabhan , Can you give us more context about the issue like which version of SDK and Xcode are you using for building your app and are you installing via cocoa pods or via drag and drop?

Thanks

[2018-10-21 09:18] MuthuFD commented on #19
Thanks for the request @acgourley

Currently we have this feature in iOS. We will expose this in react native in our upcoming react native SDK release.

We will update you here once released.

[2018-10-22 06:32] jnabhan commented on #20
I'm using version 1.5.5 of the SDK which I integrated by dragging and dropping the library since my project doesn't use Cocoa Pods. I'm building the project on Xcode 10.

Thanks

[2018-10-22 09:46] harish-kumarc commented on #20
HI @jnabhan ,
For **Drag and Drop** addition of SDK along with Frameworks you have to set **-all_load**, **-objC** flags in Project Settings, **General -> Build Settings -> Other Linker flags**. We have mentioned same in integration [doc](https://support.freshchat.com/a/solutions/articles/232534) also. Please check and let us know if the issue is fixed :)

Thanks

[2018-10-22 09:56] harish-kumarc commented on #1
Hi @shruezee ,

Can you please try following steps for your project :
1. Please try cleaning the project cmd + shift + k and build folder cmd + option + shift + k and deleting the derived data folder.
2. Go to Build Settings > Swift Language Version for all of your Targets.

Please try and let us know if the issue is fixed.

Thanks

[2018-10-22 11:24] jnabhan commented on #20
@harish-kumarc, I added the flags you suggested to "Other Linker Flags" in the project settings but still got the same error. I'm also unable to open the link to the integration doc you provided.

[2018-10-22 12:28] harish-kumarc commented on #20
Hi @jnabhan
I have updated the link, its same integration doc only and in bottom we are adding above info for drag and drop case. Please clear derived data and check again and also if possible share a sample with us. Or if you want we will share one with you :).

Thanks

[2018-10-22 12:46] jnabhan commented on #20
@harish-kumarc unfortunately, clearing derived data did not fix the issue. I will create a test project that reproduces the issue and will link to it soon.

[2018-10-22 16:37] acgourley commented on #19
Thanks! No rush I have patched in to our local version for now, but it will
be nice to not need to monkey patch every time you release an update for
sure.

On Sun, Oct 21, 2018 at 2:18 AM MuthuFD <notifications@github.com> wrote:

[2018-10-23 00:31] shruezee commented on #1
Greetings @Harish

I have tried clearing the derived data folder from preference > locations also tried Shift+cmd+Alt to clean build folder still have same issue.
Please note this project built in Xcode 8 on Swift 3 and I am trying to migrate to 4 or 5.

In Build setting I see Swift 3.3 and Swift 4.1 as language option in Xcode 9.4.1.
Moreover, Also tried downloading Xcode 9.1 and cleared multiple

[2018-10-23 00:31] shruezee commented on #1
Greetings @Harish

I have tried clearing the derived data folder from preference > locations also tried Shift+cmd+Alt to clean build folder still have same issue.
Please note this project built in Xcode 8 on Swift 3 and I am trying to migrate to 4 or 5.

In Build setting I see Swift 3.3 and Swift 4.1 as language option in Xcode 9.4.1.
Moreover, Also tried downloading Xcode 9.1 and cleared multiple

[2018-10-23 10:08] harish-kumar commented on #1
Guys,

I have no idea why I'm getting these emails or how you got my email
address. But I think I'm included in this conversation by mistake.

On Tue, Oct 23, 2018, 1:55 PM Harish <notifications@github.com> wrote:

[2018-10-24 15:06] jnabhan commented on #20
Hi @harish-kumarc
I have uploaded the following project which reproduces the issue: https://github.com/jnabhan/FreshchatTest

Thanks

[2018-10-24 15:51] harish-kumarc commented on #20
Hi @jnabhan ,
Thanks for sharing the demo app. We checked and as [mentioned](https://github.com/freshdesk/freshchat-ios/issues/20#issuecomment-431788745) you need to set **"-all_load"** for **other linker flags** in **Build Settings** for your project. We are attaching here same sample app with same change, do let us know if it works for you :)

Thanks
[FreshchatTest-master.zip](https://github.com

[2018-10-24 16:15] jnabhan commented on #20
Thank you @harish-kumarc this is working now.
I am however terribly confused as to why it didn't work a couple of days ago. I may have been adding the argument to the wrong place.

[2018-10-24 16:15] #20 closed

[2018-10-29 06:54] sairasamdanii commented on #11
@tryprasannan But then how will a user fetch his chat history?

[2018-10-29 20:21] ghost opened #22 "Back button changes font size on highlight"
Steps to reproduce:
 - use custom font for BackButtonStyle
 - start chat
 - attach image
 - before sending the image check "Back" button

The font for for the back button is set as following:
[code]

iOS version: iOS 12
Device: iPhone 7, iPhone XR

Normal state:
<img width="584" alt="normal state" src="https://user-images.githubusercontent.com/38656677/47677702-1ce87400-dbc0-11e8-9d83-ebfaad5c057f

[2018-10-30 07:42] harish-kumarc commented on #22
Hi @sasha-tomorrow ,
We checked and are't able to reproduce issue on our side. Which version of Freshchat iOS SDK are you using for you app? Are you doing any alteration in font for you app when keyboard appears.

Thanks
Harish

[2018-11-08 07:04] naiduasn commented on #4
@gianpaj do you this sample code in GitHub which you can share to simplify our initial setup process?

[2018-11-11 01:46] havard024 commented on #1
+1

[2018-11-12 21:11] gianpaj commented on #4
@naiduasn i basically followed the instructions on this website:
https://rnfreshchatsdk.firebaseapp.com/

The installation of the native parts is not actually that painful. Once you it, it's fine.

But sure, here is the `App.js` I edited after creating a project with `react-native init`:
https://gist.github.com/gianpaj/ee94ecc5860970fadb6c54a7f93df486

[2018-11-15 05:08] bestwnh opened #23 "back button color changed by UINavigationBar.appearance()"
I used the FreshchatSDK (1.5.5) in my app, but my app set up the bar tine color and custom white back button image
<img width="551" alt="image" src="https://user-images.githubusercontent.com/1201345/48530531-08e88600-e8d3-11e8-8f7b-933aaa0fae37.png">
It cause the back button in Freshchat go white.
<img width="371" alt="image" src="https://user-images.githubusercontent.com/1201345/48530455-c161fa00

[2018-11-19 06:44] harish-kumarc commented on #23
Hi @bestwnh
If you are setting any global values for Navigation bar and bar-button items, FreshchatSDK honours them so that users can have same UI experience as that of main app.
If you you certainly wants to change tint color then before showing support(Freshchat) you can update tint color and revert back with viewDidAppear in same view controller.

Thanks

[2018-11-19 07:16] bestwnh commented on #23
@harish-kumarc Unfortunately, I set up global values for both navigation bar and bar-button items, but in Freshchat UI, only the bar-button items effected. If you can make  Freshchat view controller keep all my global setup, it would be much better.

[2018-11-19 14:18] hemanthFW commented on #23
Hi @bestwnh Thanks for reaching us out.

- Did you try changing the `textColor` values of the following key in theme file to your global values of navigation bar.
`<key>NavigationBar</key>
    <dict>
        <key>TitleTextStyle</key>
        <dict>
            <key>fontName</key>
            <string>SYS_DEFAULT_FONT_NAME</string>
            <key>textSize</key>
            <string>17.0f</string>

[2018-11-26 02:48] bestwnh commented on #23
@hemanthFW It works for you. Thank you.

[2018-11-26 02:48] #23 closed

[2018-11-27 01:08] wildseansy commented on #15
From my research, it seems like there's one edge case where unread count isn't getting updated.

When a notification is received, but the user __does not__ click on the notification to open the app, the unread count isn't updated. This is because `didReceiveRemoteNotification` is never called because there is no `content_available` flag being passed in the notification.

More info [here](https://s

[2018-11-27 06:11] SanjithKanagavel commented on #15
@wildseansy Thanks for sharing this.

I believe you are talking about the case when app is in background and you receive a  Freshchat notification right. Then user opens the app directly.

If that's the case, you should use Freshchat **unreadCount** api and get the unread count.
Please find the implementation below.

![screenshot 2018-11-27 at 11 38 21 am](https://user-images.githubusercontent.com

[2018-11-29 06:02] SanjithKanagavel commented on #15
@wildseansy Yes we have client side cache, unread count api has a duration of 2 mins interval from last update.

Also, **`FRESHCHAT_UNREAD_MESSAGE_COUNT_CHANGED`** notification event will be triggered whenever the unread count changes when user reads the unread messages or new unread messages comes in.

**Sample Snippet** :

<img width="1322" alt="screenshot 2018-11-29 at 9 58 18 am" src="https://

[2018-11-29 15:49] wildseansy commented on #15
@SanjithKanagavel - thanks for the information. These delegations are already setup and don't affect this edge case (`didFinishLaunchingWithOptions` called on app launch, this case is regarding foregrounding the app, `didReceiveNotificationResponse` is for processing inline responses, for example). `applicationDidBecomeActive` and `viewDidAppear` would work properly __if__ the cache was invalidate

[2018-11-29 20:01] acgourley commented on #19
Just confirmed the update worked for me. Thanks!

[2018-12-03 15:17] graham-perks-snap opened #24 "Crash around [FCMessageServices fetchAllChannels:]"
Yesterday we starting seeing several users experiencing crashes in Freshchat.

We're unable to reproduce at will. I've emailed the full stack track to support@freshchat.com.

I'm just opening the issue here in case others are experiencing the same.

Partial stack:
[code]

There's a bunch of CoreData & SQLite going on in a couple of background threads.

[2018-12-03 21:43] graham-perks-snap commented on #24
Forgot to mention, we are on FreshchatSDK 1.5.5.

[2018-12-04 19:51] graham-perks-snap commented on #24
Oddly while we had many crashes here yesterday, we have seen none today.

[2018-12-04 19:58] NickAtLeafly commented on #24
Forgot to add that we received these crashes Dec 3rd. We've received no reports today of crashes.

[2018-12-07 06:34] harish-kumarc commented on #24
Thanks for reporting the crash. We are investing it from our side and if you folks are able to replicate it please share the steps.
Also please let us know if background fetch is enabled and your app is using some location service(s)

Thanks

[2018-12-08 15:32] harish-kumarc commented on #24
Thanks @NickAtLeafly for more information, we will check and update you. Also can you confirm that you are using native iOS SDK.

Thanks

[2018-12-10 16:40] NickAtLeafly commented on #24
@harish-kumarc  Thank you very much. We are using the native iOS SDK.

[2018-12-17 22:00] vasyiok opened #25 "React-native iOS push notification"
Hello everyone!
I am trying to setup push notifications in my app that is on react-native. I'm using react-native-freshchat-sdk and any the other feature works perfectly, but push notifications.

To serve push notifications I'm using react-native-push-notification and it works perfectly with my API.

Here is my code:
[code]

I'm checked my certificate, push token and it works with my API but I nev

[2018-12-18 09:08] MuthuFD commented on #25
Hi @vasyiok ,

Is this `console.log(incomeNotification);` console log getting printed?

Can you share us the printed log.

[2018-12-18 11:48] vasyiok commented on #25
@MuthuFD unfortunately `console.log(incomeNotification)` is never getting printed when I send a message from Freshchat. But I see the notifications from API.
And this is a point that I don't get any push notifications from the Freshchat

[2018-12-26 09:27] AnilG1793 opened #26 "Android Push Notification not coming"
Hi,
   First of all thanks for this nice plugin support in React Native. I have tested almost all other functionality like create new User, Reset, Chat, etc are working fine.
   Now I am moving towards **Notification implementation**, Below procedure I have followed:-

1. Using [react-native-firebase](https://rnfirebase.io/) [plugin for Push notification](https://github.com/invertase/react-native-

[2018-12-28 13:49] AnilG1793 commented on #26
Thanks Freshchart Support team for answer,

And here is answer,

​You need to listen to message listener in react-native-firebase plugin. It comes as data only message in this case.
​
[code]

[2018-12-28 13:51] #26 closed

[2019-01-01 05:37] rv7284 commented on #8
@herarya  I'm facing the same issue. Can you tell me how you solved it?

[2019-01-08 08:33] Binusz opened #27 "String Localization does not affect immediately"
Hi,
I followed "String Customisations"  steps in your SDK integration guide. It works anyway however it does not affect immediately.
Freshchat window appear firstly in english. The second time, it appears in selected language. I also trigger the following notification,  **NotificationCenter.default.post(name: NSNotification.Name(rawValue: "FRESHCHAT_USER_LOCALE_CHANGED"), object: self, userInfo: n

[2019-01-09 05:40] SanjithKanagavel commented on #27
Hi @Binusz ,

Looks like there is a mistake in documentation.  Should like the below :

`NotificationCenter.default.post(name: NSNotification.Name(rawValue: FRESHCHAT_USER_LOCALE_CHANGED), object: self, userInfo: nil)`

Can you try them with this again ?

[2019-01-11 14:52] georgmay commented on #25
Same here, native iOS, we don't receive any push notifications.

[2019-01-14 14:00] hemanthFW commented on #25
@vasyiok @georgmay
 Please take a look into our Sample app
https://rnfreshchatsdk.firebaseapp.com/sample/SampleApp.zip
Use your AppId and App key in index.js.
Hope you have updated iOS push notification p12 certificate in web portal.
**If iOS Certificate is not uploaded into our web portal,
login to our web portal go to Settings -> Mobile SDKs**
under APNS Push Certificate iOS upload your certific

[2019-02-01 14:33] bartread commented on #10
@tryprasannan We have the same issue: @harish-kumarc could have posted a link to the relevant online documentation in response to @danilobuerger instead of simply being unhelpful/facetious.

If you don't have any online documentation he could have explained that, which would also explain the need to contact support. In general most people don't appreciate having to contact an account manager (or,

[2019-02-01 14:37] bartread commented on #10
3rd result on Google: https://support.freshchat.com/support/solutions/articles/238304-can-i-remove-the-powered-by-freshchat-from-the-chat-widget-

_We’re a relatively young and growing business and would love to have your brand’s support in spreading our philosophy.

That being said, we would like to understand how important it is for your website and its template to not have the Freshchat brandin

[2019-02-05 15:23] juanxme opened #28 "APNs Auth Key Support"
Please add support to APNs Auth Key

[2019-02-08 09:42] El-Sy commented on #4
Hi @MuthuFD, is there any update on putting the latest alpha version on npm?

[2019-02-08 13:22] harish-kumarc commented on #24
Hi @NickAtLeafly , we have fixed the issue with version [v2.4.0](https://github.com/freshdesk/freshchat-ios/releases/tag/v2.4.0) . Please do let us know from your side also.

Thanks

[2019-02-11 07:39] #24 closed

[2019-02-11 10:42] MuthuFD commented on #28
@juanxme Thank for the request.
We have not prioritised this yet. We will update you when the priority changes.

[2019-02-12 16:29] atulmy commented on #4
Are we supposed to use this https://www.npmjs.com/package/react-native-freshchat-sdk? The source of it is uncertain. Can anyone confirm if this is an official release? Would rather not install from any other source than the official release.

[2019-02-13 05:11] MuthuFD commented on #4
@atulmy It is not the official package.

Please find the official package here
https://rnfreshchatsdk.firebaseapp.com/

[2019-02-15 18:44] adrianha commented on #4
Hi @MuthuFD ,
i can't get callback when restore id generated (Freshchat.EVENT_USER_RESTORE_ID_GENERATED). I also tried to send chat, but the event was not triggered. I'm using react-native-freshchat-sdk@0.57.0 and already registed the listener.

Any idea about this issue?

[code]

[2019-02-20 15:21] rafaelescoffier opened #29 "Theme support with Carthage"
Hi there,

I am trying to customise theme using instructions provided here, [freshchat-ios-sdk-themes](https://support.freshchat.com/support/solutions/articles/229814-freshchat-ios-sdk-themes), but it is not working.

I am using Carthage to generate the framework. When testing with cocoapods, everything works as expected.

Can you please confirm this issue?

Thanks in advance.

[2019-02-22 08:21] harish-kumarc commented on #29
Hi @rafaelescoffier , To over-ride current theme its better to create custom theme.plist from FCtheme.plist and during init you have to specify that with config `config.themeName = @“Custom_theme_file"; `. An advantage of custom theme file is that it will retain all theme changes after SDK update also. Also you can use pre-alfa version of Carthage SDK [here](https://github.com/freshdesk/freshchat-

[2019-02-22 08:42] rafaelescoffier commented on #29
@harish-kumarc this was exactly what I did, and didn't work with Carthage :)

 Can you please check if you are able to load the custom theme file as a Carthage generated framework?

[2019-02-23 18:36] harish-kumarc commented on #29
Hi @rafaelescoffier , Correct.. we checked and the Freshchat SDK's custom theme outside framework isn't applying for screens.
To achieve custom theme for Freshchat screens currently you have to edit theme file within the Framework itself. We will surely amend it in our future release 👍
Thanks

[2019-02-28 13:43] iangmaia opened #30 "iOS 11 support with Carthage binary"
iOS 11 doesn't seem to be supported by the binaries in the Carthage branch (at least not for Simulator).
Can you please check and confirm?

Thanks!

[2019-03-04 08:55] hannseman commented on #4
Can you please put this package on npm and claim the name `react-native-freshchat-sdk`? It's a big security concern that you allow non-official package squat your package names.

[2019-03-05 13:23] harishkumar-bits commented on #30
HI @iangmaia , yeah currently there are conflicts with simulator(s). We are analysing it from our side and surely update you over this.
Thanks

[2019-03-08 12:02] glennposadas opened #31 "Value of type 'Freshchat' has no member 'restoreID'"
Any idea why can't I access `restoreID`?

`let restoreId = Freshchat.sharedInstance().restoreID`

[2019-03-08 12:06] glennposadas commented on #31
Silly me. That property is inside FreshchatUser.

`let xx = FreshchatUser.sharedInstance()?.restoreID as? String`

[2019-03-08 12:06] #31 closed

[2019-03-12 04:44] qhccthanh opened #32 "Fatal Exception: NSInvalidArgumentException +entityForName: nil is not a legal NSManagedObjectContext parameter searching for entity name 'FCParticipants' +[FCParticipants createWithInfo:inContext:]"
Fatal Exception: NSInvalidArgumentException +entityForName: nil is not a legal NSManagedObjectContext parameter searching for entity name 'FCParticipants' +[FCParticipants createWithInfo:inContext:]

iOS 12 only

[code]

[2019-03-12 08:33] syedrazackimran opened #33 "Change Font Name"
[code]

I try to change font name it's not affecting... kindly do needfully

[2019-03-13 09:45] harish-kumarc commented on #32
Hi @qhccthanh , Thanks for the logs :) . Is this happening in dev environment, if yes then it will be great to have steps to replicate. For production can you please forward us your AppStore link.
Thanks

[2019-03-14 13:28] iangmaia opened #34 "Image sending not working -- constraints breaking"
We've been having an issue on sending images on the chat in the Freshchat SDK. The image just doesn't appear and we see this in the logs:

[code]

We're currently using the Carthage branch.

Is this a known bug or something we need to fix on our side?

[2019-03-17 10:03] qhccthanh commented on #32
@harish-kumarc, Thanks for responding. The crash happen when opening app and user must delete app and reinstall again my application again for fixing.
Actually, This crash happening on production, I can't reproduce it. More information, I'm using newest version of FreshChat iOS SDK and AppstoreID: id1313125493

[2019-03-25 03:23] xieweizhi commented on #29
Hi @harish-kumarc , is this issue fixed in the latest release?

[2019-03-25 11:04] xieweizhi opened #35 "Can't change MessageReplyViewStyle.background"
I followed the [Doc](https://support.freshchat.com/support/solutions/articles/229814-freshchat-ios-sdk-themes) to change the `MessageReplyViewStyle` but won't work.

Here is what I did,
In the latest SwiftSample project, I changed the MessageReplyViewStyle.background to another color of FCTheme.plist.

The result is:

![image](https://user-images.githubusercontent.com/1779863/54914763-b24e2100-4f3

[2019-03-25 12:32] SanjithKanagavel commented on #35
Hey @xieweizh

Let me give you some suggestions :

1. `MessageReplyViewStyle` is the outer view of input prompt,  changing `background` of that would look similar to above image.
2. `MessageReplyInputViewStyle` is the inner textView of input prompt. Changing it's `background` and `borderColor`.

Making the two suggestions would look like the one below :

<p align="center">
<img src="https://user-i

[2019-03-25 12:34] SanjithKanagavel commented on #34
Sorry for the late reply.

@iangmaia Thanks for sharing this. Can you share us the SDK version and device model in which this breakage is happening ? Would help us replicate the issue.

[2019-03-25 12:36] iangmaia commented on #34
We're using the latest Carthage branch.
I've got the error on the simulator, most likely it was the iPhone SE one.

[2019-03-25 12:37] SanjithKanagavel commented on #33
@syedrazackimran Can you please confirm the font `Avenir-Medium` is being added to project with target being set.  Also please let us know if you're doing changes in custom theme plist file ?

[2019-03-25 13:56] xieweizhi commented on #35
@SanjithKanagavel  Thanks for your reply.

So it's possible to change the whole background to a flat-color style?

![image](https://user-images.githubusercontent.com/1779863/54925167-bb4aec80-4f48-11e9-9de3-e5a908d59cca.png)

[2019-03-25 15:08] harish-kumarc commented on #32
Thanks again @qhccthanh for the info. We are investigating the issue from our side and update you about it.

[2019-03-25 15:28] harish-kumarc commented on #29
Hi @xieweizhi , We haven't yet upgrade the Carthage SDK. We will update you once its fixed.

[2019-03-25 16:25] SanjithKanagavel commented on #34
We have fixed this native sdk. We will update this in Carthage sdk.

[2019-03-25 16:30] SanjithKanagavel commented on #35
Yes @xieweizhi, Set colour value (eg : #FFF000)  to `ConversationDetail > MessageListStyle > background` in **FCTheme.plist**.

[2019-03-26 06:35] xieweizhi commented on #35
@SanjithKanagavel , Thanks, this solves my question.

[2019-03-26 06:35] #35 closed

[2019-04-04 15:04] cahyofendhi opened #36 "Event handling chat conversation"
how to know when conversation page dismiss? after show conversation i want when back button clicked, activity is finish, but  i not found event handling of freshchat sdk

[2019-04-12 14:21] harish-kumarc commented on #36
Hi @cahyofendhi , sorry for the delay. Currently only a few tracking events are available with Freshchat
 1. Notification received, 2. message sent, 3. screen viewed, 4.message received.
You can listen them after registering for `FRESHCHAT_ACTION_USER_ACTIONS` into your ViewController like :

[code]

[2019-04-27 06:18] ramanathan-s opened #37 "App crash during Freshchat init"
Apple is rejecting our app saying that app is crashing during app launch in iPad 12.2. However, we couldn't reproduce the issue. We symbolicated the crash log shared by them and found that it crashes after `[Freshchat initWithConfig:]` call.

**Freshchat SDK version: 2.0**
**Crash log:**
[code]

[2019-04-29 07:57] SanjithKanagavel commented on #37
Hey @ramanathan-s, Thanks for sharing the logs. Can you confirm you are on the latest version of SDK (2.4.4) ?

[2019-04-29 08:03] SanjithKanagavel commented on #37
@ramanathan-s email us to support@freshchat.com we can follow up from there.

[2019-04-29 12:38] ramanathan-s commented on #37
As I mentioned in the above comment, we are on `v2.0.0`. We have updated to latest version (2.4.4) and submitted the app to store. It's still under review.

We have already mailed to your support team.

[2019-04-30 05:57] SanjithKanagavel commented on #37
@ramanathan-s Thanks for sharing the details. We will follow up from there.

[2019-05-02 01:07] bensont1 opened #38 "Crash on iOS React Native"
Hi recently, I got this error when launching ANY freshchat operation on iOS only

[code]

The method used to cause the above exception is
`Freshchat.showConversations();`

Anyone having the same issue?

[2019-05-03 06:48] hemanthFW commented on #38
Hi @bensont1 as we discussed via support channel this is not a SDK issue.
Shall we close this out.

[2019-05-03 06:49] bensont1 commented on #38
Yes it should be closed. Seems it was an issue with the navigation controller unrelated to Freschat SDK

[2019-05-03 06:49] #38 closed

[2019-05-03 07:12] hemanthFW commented on #37
@ramanathan-s Can you confirm whether the latest SDK passes the Appstore review?

[2019-05-06 18:24] erichsu commented on #37
with SDK 2.4.4, still crashed  by Apple reviewer here.

[2019-05-07 09:32] Bran-nod opened #39 "FCImageFragment constraints"
Try to add image in chat.
ios 12
v2.4.4
[code]

[2019-05-08 07:10] hemanthFW commented on #39
Thanks @Bran-nod for sharing this info.
We debugged the issue from our end, it seems the breakage comes when action sheet was shown on tap of attach button. We also found that this issue happens only in iOS 12.2.
This seems an apple [bug](https://stackoverflow.com/questions/55653187/swift-default-alertviewcontroller-breaking-constraints).
Can you please confirm the following,
- Is it happening onl

[2019-05-08 07:19] Bran-nod commented on #39
Yep, its 12.2 but it happens sometimes(!) when I just rebuild app and open chat with images.

[2019-05-08 07:42] hemanthFW commented on #39
Can you try this scenario, just click on the attach button on the screen and let us know if the same breakage comes.
We also tried opening chat with images but we could not reproduce the issue.
We will keep an eye on the issue and update you.

[2019-05-08 17:50] hemanthFW commented on #37
@erichsu We have released v2.5.0, please update to the latest SDK and check.

[2019-05-10 08:16] Binusz commented on #37
It is still rejected by Apple because of crashing.
This is an urgent issue.

[2019-05-10 08:30] hemanthFW commented on #37
@Binusz Can you share us the symbolicated crash logs please?

[2019-05-10 08:42] hemanthFW commented on #37
@Binusz Can you confirm whether you are using v2.5.0?
Because we have moved that particular place where crash happens to a background thread, but in crash it is still running in main thread.

[2019-05-10 09:12] Binusz commented on #37
Yes. I sure that.
I double checked in Podfile.lock file.

[2019-05-10 09:56] hemanthFW commented on #37
@Binusz We released the SDK v2.5.0 at May 8 4:30 PM UTC. And the crash seems happened at the exact day, moreover it cannot run in main thread. Please submit to the Apple review again.

[2019-05-10 10:45] Binusz commented on #37
Sorry I shared wrong symbolicated crashlogs. here is latest one;

[code]

[2019-05-10 15:20] hemanthFW commented on #37
@Binusz This seems a fetch from Keychain issue.
I will provide a workaround for a while,
**Swift**
[code]
**objc**
[code]

We will update the same in future SDK.

[2019-05-13 18:49] JanC opened #40 "UI for user email input"
Hi,
most of the chat / support SDK (e.g. Instabug, Helpshift ..) offer a UI where the user can input his/her name and e-mail address before starting a conversation.

While the FreshChat [FreshchatUser](http://cocoadocs.org/docsets/FreshchatSDK/1.0.2/Classes/FreshchatUser.html) object allows to input those programatically, it would be useful for an easier integration if SDK offers a such a  UI and

[2019-05-16 12:20] hemanth-sudarsan commented on #37
@Binusz v2.5.1 is out, it will fix the Appstore crash fix.

[2019-05-16 12:30] ramanathan-s commented on #37
@hemanth-sudarsan Could you please elaborate the issue? And how the initialization of FreshChat should be done now?

[2019-05-16 12:39] hemanth-sudarsan commented on #37
@ramanathan-s
Somehow in iPad on iOS 12, there is a keychain store operation which takes long time than usual.
We made some enhancement around this. Initialisation can be done as usual in didFinishLaunch, but moving other SDK operations except handling push notification handling from didFinishLaunch is recommended.

[2019-05-16 12:45] ramanathan-s commented on #37
Thanks. We will try it in our next app release.

[2019-05-16 12:55] Binusz commented on #37
By the way, your "resetUser" method also cause the crash. We will try this fix in our next release.

[2019-05-30 09:16] raviLakhtariya commented on #12
hi i had setup freshchat in right way... as per your instruction guide..but still i cant get push notification in my app... i had also other notification get..but freshchat message i cant getit...if you had any demo where push is get then share me....and

second issue i had checked is

in didregisterremotenofication method i had set device token but after i print the token status...but status i ge

[2019-05-30 11:02] harish-kumarc commented on #12
Hi @raviLakhtariya , Seems like your token isn't generated properly, can you confirm that push is enabled for you application.
After passing the token to Freshchat API the state for Push Enabled flag in portal is set to Yes(that way you confirm the token is passed correctly)
Attaching here sample apps with and without UNUserNotification. Please update your appId/Key and bundleId for samples and do

[2019-05-30 11:11] Binusz opened #41 "crash around FCUserProperties"
Nowadays I see this crash. It start with freshchat SDK version 2.5.0 and continue with 2.5.1
By the way, I call freshchat init method with _"DispatchQueue.global(qos: .utility).async"_ on your suggestion.

here is details:
[code]

[2019-05-30 12:57] SanjithKanagavel commented on #40
@JanC , Thanks for the suggestion.

We don't have any specific pre-form to collect user data. Instead, You can create a custom screen with the necessary fields and use `userProperties` to set the user details. Also, will take this to my product team for product Improvement.

[2019-05-30 12:57] #40 closed

[2019-05-30 13:04] hemanth-sudarsan commented on #41
@Binusz After v2.5.1 we don't need to initialise it in DispatchQueue.
Remove DispatchQueue and move other Freshchat SDK operations except handling push notification from didFinishLaunch.
Also let us know the state of the application when crash happens (foreground or background).

[2019-05-30 13:16] Binusz commented on #41
I will try it on next release.

[2019-05-31 04:23] raviLakhtariya commented on #12
Hi i had use your app and change certificate but i cant still get an push on background

[2019-05-31 04:35] raviLakhtariya commented on #12
i could not get push notification banner

[2019-05-31 05:05] raviLakhtariya commented on #12
when i am checking in simulator then i got notification like this :: only when conversion is open...but in background or if i close the conversion then could not get....and device i could not get notification which i sent you in screenshot....help me...in swift ios
![Simulator Screen Shot - iPhone 8 Plus - 2019-05-31 at 10 31 52](https://user-images.githubusercontent.com/37133003/58682796-a0a15380

[2019-05-31 09:28] raviLakhtariya commented on #12
Hi i am getting an issue in fresh chat notification … i could not get notification while app in background… and still not getting any push notification while app in foreground and conversion is off.

i had already follow all instruction and use your code demo which you had sent me yesterday…. in short total meaning is i am not getting any type of push… i had already sent screenshots…. in chat inbo

[2019-05-31 14:08] harish-kumarc commented on #12
Hi @raviLakhtariya ,
As you are seeing a little delayed inapp banner on Freshchat screen(app screen attached) in simulator, that is not a push notification banner but actually a poller banner we display when device is not receiving any notification.

With agent portal screenshot attached, you could see the "Push Notification Enabled flag" on rhs is "Yes", that means the device token has been sent

[2019-06-03 05:14] raviLakhtariya commented on #12
how much time need to get a push ...because With agent portal screenshot attached, you could see the "Push Notification Enabled flag" on rhs is "Yes",.....then still could not get any type of notification in device

[2019-06-03 06:12] harish-kumarc commented on #12
HI @raviLakhtariya , After sending the message from Freshchat portal, you should receive your push instantly on SDK if everything is setup correctly. Can you verify other cautionary things mentioned in [message](https://github.com/freshdesk/freshchat-ios/issues/12#issuecomment-497721805). Also are you still not able to get any notification with new sample attached with same message?

[2019-06-03 07:28] raviLakhtariya commented on #12
ok i had attached below... i had follow all the steps
![Screen Shot 2019-06-03 at 12 52 29 PM](https://user-images.githubusercontent.com/37133003/58783573-db5cf300-85fe-11e9-91de-d6bc794d47b2.png)

now i attached code---in app delegate what i done it.....there is other push is work...you need to check only freshchat code...if it correct? so why i am not getting push...??

[AppDelegate.swift.zip](h

[2019-06-03 10:03] raviLakhtariya commented on #12
Or any other way to get push notification .....? i had sent you code in appdelegate swift. and when i register or login new user at that time.....i had write code like.....

    func createUser(){

        //  Freshchat.sharedInstance().identifyUser(withExternalID: CurrentTrip.shared.user.userId, restoreID: nil)
        let user = FreshchatUser.sharedInstance();

        user?.firstName = Provider

[2019-06-03 13:17] harish-kumarc commented on #12
Hi @raviLakhtariya ,
Your sample code (AppDelegate.swift) looks good and it works perfectly fine with sample app. So the issue is with certificate. Can you please check if you are applying the correct certificate with correct environment, i.e dev cert for development and prod for production(AppStore). Also make sure that `Production Certificate` checkbox should be `unchecked` in for development en

[2019-06-05 05:13] raviLakhtariya commented on #12
can you create video of your demo project which you had provide me. how you can get notification in your demo project. using swift 4 in freshchat integration

[2019-06-05 08:08] ramanathan-s commented on #37
@hemanth-sudarsan We submitted our app to the app store with FC **v2.5.1** and Apple rejected our app again. They are saying that app is getting hung (not crashing) in iPad on iOS 12. They didn't share any logs for the same.

Also, some of our users are facing following crash in the new SDK:

[code]

[2019-06-05 09:05] hemanth-sudarsan commented on #37
@ramanathan-s are you initialising the SDK in separate thread and also did you move all other operations from didfinishlaunchoptions method.
The above mentioned crash happens in which state of the app (foreground/background).

[2019-06-05 11:32] ramanathan-s commented on #37
**No**. We followed your [previous comment](https://github.com/freshdesk/freshchat-ios/issues/37#issuecomment-493050192).

**Yes**

**Foreground**

[2019-06-06 06:48] raviLakhtariya commented on #12
can you send you certificate so i can check it ? its work or not

[2019-06-06 07:32] hemanth-sudarsan commented on #37
@ramanathan-s We see the latest App Store version of your app already uses 2.5.1.
We moved our SDK initialisation to a background thread, so it should not hang the execution.
Can you please ask the App Store for crash logs or any scenario in which it hangs. It will be very helpful to explore further.

[2019-06-06 11:52] ramanathan-s commented on #37
When Apple rejected our app, we asked for more info about the issue. They approved the app without replying to our query! Hence you see the latest version on the App store.

But we don't think that issue has been resolved completely (getting a [new crash](https://github.com/freshdesk/freshchat-ios/issues/37#issuecomment-498982776) as well). We will share more info if we could get it from Apple.

[2019-06-06 12:35] hemanth-sudarsan commented on #37
@ramanathan-s We are looking into the crash you have pointed out.
But about the Apple review, we have moved it into separate thread which should not block main thread. Will be helpful if you share the log once you get from Apple.
We still see our old SDKs were being approved by App Store. Its very inconsistent testing from Apple.

[2019-06-06 14:04] harish-kumarc commented on #12
As we discussed over the call, the issue was related with an incorrect certificate. Please let us know if you have any issue after that.
Thanks

[2019-06-07 11:52] harish-kumarc commented on #32
Hi @qhccthanh , New SDK version [v2.5.2](https://github.com/freshdesk/freshchat-ios/releases/tag/v2.5.2) is out. Please try and do let us know if the crash issue is resolved.

[2019-06-07 12:02] harish-kumarc commented on #18
We have done more enhancements with SDK [v2.5.2](https://github.com/freshdesk/freshchat-ios/releases/tag/v2.5.2) to avoid coredata crashes.

[2019-06-07 12:02] #18 closed

[2019-06-07 12:03] #25 closed

[2019-06-07 12:04] #27 closed

[2019-06-07 12:07] hemanth-sudarsan commented on #33
@syedrazackimran Hope this is resolved, closing it for now.

[2019-06-07 12:07] #33 closed

[2019-06-07 12:12] #1 closed

[2019-06-16 10:15] nb5053 opened #42 "How can i get close event ?"
How can i get close event ?

[2019-06-17 07:41] harish-kumarc commented on #42
Hi @nb5053 , Currently we do not have any close event in FreshchatSDK. Can you please give us more context so we can help you better.
Thanks

[2019-06-17 07:41] #32 closed

[2019-06-17 09:50] sandeepbol commented on #8
same here

[2019-06-18 08:39] herarya commented on #8
i just update latest version the sdk

[2019-07-11 13:51] rafaelescoffier commented on #29
Hi @harish-kumarc , any updates on this?

[2019-07-16 09:23] sabarics opened #43 "Push Notifications not coming in iOS"
`func application(_ application: UIApplication, didRegisterForRemoteNotificationsWithDeviceToken deviceToken: Data)
    {
        Freshchat.sharedInstance().setPushRegistrationToken(deviceToken)
    }`

Push notification not received.
I am getting

"deliveryError": "DeviceTokenNotForTopic",
   "apnsMessage": "SimpleApnsPushNotification [token=bb05d0a1bd5445d43f9006adff94aea330d35d42745f57e343fd715

[2019-07-16 12:18] ravirajw opened #44 "Open particular chat channel when tapped on "Message us""
When we showFAQs - on FAQs screen we see "Message us" button at bottom. When tapped on "Message us" button. We are navigated to conversation channels list screen.

How to directly open particular conversation channel when tapping on "Message us" button

[2019-07-16 13:42] harish-kumarc commented on #44
Hi @ravirajw , Yes you can open a specific channel using FAQOptions's api `filterContactUsByTags` with specific channel tag(s) needs to pass as parameter. Please find sample code here :
[code]

[2019-07-16 14:47] harish-kumarc commented on #43
@sabarics , `DeviceTokenNotForTopic` error refers to mismatch between bundleId of your application and the cert you have uploaded in Freshchat or either the selected environment is incorrect.

Can you please check the following items :
1. You are using correct certificate with correct bundleId.
2. You are selecting correct environment while uploading push certificate in Freshchat. For dev environm

[2019-07-17 05:11] sabarics commented on #43
Yes @harish-kumarc uploaded certificate is incorrect. Now I have uploaded correct certificate, its working.

[2019-07-17 05:11] #43 closed

[2019-07-17 10:07] ravirajw commented on #44
Hi @harish-kumarc worked. Thank you.

[2019-07-17 10:07] #44 closed

[2019-07-22 03:56] Lucodalack opened #45 "Fatal Exception: NSInvalidArgumentException +entityForName: nil is not a legal NSManagedObjectContext parameter searching for entity name 'FCConversations'"
Fatal Exception: NSInvalidArgumentException
+entityForName: nil is not a legal NSManagedObjectContext parameter searching for entity name 'FCConversations'
ios 12 only

`Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x1a0997ea0 __exceptionPreprocess
1  libobjc.A.dylib                0x19fb69a40 objc_exception_throw
2  CoreData                       0x1a353b108 -[NSA

[2019-07-22 06:41] harish-kumarc commented on #45
@Lucodalack  Thanks for reporting the issue, we are closely looking into it and notify you once we have a update over it. If possible can you please let us know if you have info about the crash state i.e if its happening on background or foreground state. Thanks

[2019-07-23 16:05] Bathibabu opened #46 "while pushing view controller, it's behaving weird."
I used below code for pushing to chat screen,It is navigating to empty screen immediatel moving to chat screen.How can I prevent this behaviour(empty screen immediatel moving to chat screen).Could you please guide me.

[code]
[![IssueGif](https://user-images.githubusercontent.com/10724887/61771607-def64480-ae0d-11e9-9abb-6336cebad9bb.gif)](https://user-images.githubusercontent.com/10724887/6177160

[2019-07-25 07:53] harish-kumarc commented on #46
@Bathibabu , The screen visible after calling ShowConversation api which is loading screen and its intended behaviour for embedded view controller. You can use recommended presented view style if you wants to avoid the loading behaviour where it will be available for first launch only.

[2019-07-25 12:50] Bathibabu commented on #46
@harish-kumarc So there is one more major issue that we are facing where-in we are seeing this Close Button appearing instead of the back button, on the first time we launch the chat, when we are trying to simply push the chat window on the current navigation stack. And this Close doesn't seem to work even after clicking multiple times, post which I have to kill my App. Can you please look into th

[2019-07-26 08:42] harish-kumarc commented on #46
@Bathibabu , we tried but aren't able to replicate the "Close" button in push to nav stack style. Also can you confirm if you are not changing the nav bar global content. I am attaching a sample app here with both push and presented styles.
[SwiftSample.zip](https://github.com/freshdesk/freshchat-ios/files/3434939/SwiftSample.zip)

[2019-07-30 04:50] Bathibabu commented on #46
@harish-kumarc In below scenarios I am able to see "close" button in chat screen.
<img width="661" alt="Screen Shot 2019-07-30 at 10 16 42 AM" src="https://user-images.githubusercontent.com/10724887/62101533-5a933e00-b2b3-11e9-8023-523a07f369fe.png">

[2019-08-13 12:33] rafaelescoffier commented on #30
@harish-kumarc did you really meant `surely update you over this`? :)

[2019-08-13 15:45] iangmaia commented on #29
No updates here @harish-kumarc ?

[2019-08-13 15:47] iangmaia opened #48 "Update Carthage with the latest changes"
The Carthage branch has been stale for almost 1 year, would be nice for it to get the updates from the latest release -- I guess it's just about updating the resources and the library binary in the `carthage` branch?

Thanks,
Ian

[2019-08-14 12:21] harish-kumarc commented on #48
Thanks for the notification Ian :), We will surely update Carthage branch with latest SDK.

[2019-08-14 12:29] milanstevanovic commented on #48
"surely" means nothing, could you please give us some ETA?
We are paying you in order to use this product, and we deserve adequate support for the money that we pay.

[2019-08-15 20:58] harish-kumarc commented on #48
@milanstevanovic , we understand your concern, we will prioritise this and update Carthage SDK by end of this Month. Thanks

[2019-08-18 07:56] davidevincenzi commented on #37
Hi,
we're experiencing the same issue with our app's review. We're still using version 1.3.1, but I'll share our symbolicated crash log, in case it's of any help for you.

I'll let you know if we have any update, also when we upgrade to latest version.

[code]

[2019-08-19 06:42] hemanth-sudarsan commented on #37
@davidevincenzi the latest SDK should fix this issue.

[2019-08-21 09:43] akulinsky opened #49 "The problem with initialization SDK in another thread."
I have the problem with initialization SDK in another thread.
![Screen Shot 2019-08-21 at 12 28 34](https://user-images.githubusercontent.com/580511/63421355-2114a500-c411-11e9-9e82-03973919d234.png)

[2019-08-22 09:29] harish-kumarc commented on #49
Hi, @akulinsky can you give us more context about the issue you are facing. Ideally you can init SDK in didFinishLaunchingWithOption method of your AppDelegate or anywhere before calling solutions APIs.

[2019-08-22 09:35] harish-kumarc commented on #48
We have updated Carthage with latest SDK v2.7.0.

[2019-08-22 09:41] harish-kumarc commented on #42
@nb5053 , With SDK release [v2.7.0](https://github.com/freshdesk/freshchat-ios/releases/tag/v2.7.0) we have added more richer events for user actions. Please check more with documentation [here](https://support.freshchat.com/support/solutions/articles/50000000057-how-to-track-user-actions-happening-inside-freshchat-sdk).

[2019-08-22 09:41] #42 closed

[2019-08-22 10:07] harish-kumarc commented on #34
@iangmaia , we have updated Carthage with latest SDKv2.7.0. Please check and let us know if the issue is resolved.

[2019-08-22 10:36] harish-kumarc commented on #30
@rafaelescoffier , finally we have Carthage with latest SDK [v2.7.0](https://github.com/freshdesk/freshchat-ios/releases/tag/v2.7.0). @iangmaia the issue is resolved, please test with available device(s) and simulator(s).

[2019-08-22 10:45] harish-kumarc commented on #29
There is no changes with theme customisation, we are exploring possible options to achieve it.

[2019-08-26 13:42] #48 closed

[2019-08-26 13:43] #34 closed

[2019-08-26 13:43] #30 closed

[2019-08-27 07:26] Lucodalack commented on #45
sorry for lately reply, it's happened on background

[2019-08-27 10:31] harish-kumarc commented on #36
Hi @cahyofendhi  with new release[ v2.7.0](https://github.com/freshdesk/freshchat-ios/releases/tag/v2.7.0) we have updated user events with richer meta and integration documentation can be accessible [here](https://support.freshchat.com/support/solutions/articles/50000000057-how-to-track-user-actions-happening-inside-freshchat-sdk)

[2019-08-27 10:44] harish-kumarc commented on #45
No worries @Lucodalack , Thanks for the information.

[2019-08-29 09:12] hemanth-sudarsan commented on #37
Closing this issue, feel free to open this issue again if issue resurfaces.

[2019-08-29 09:12] #37 closed

[2019-08-29 09:16] hemanth-sudarsan commented on #41
@Binusz Is this issue still happening?

[2019-08-29 09:18] hemanth-sudarsan commented on #39
@Bran-nod we could not reproduce from our end.
Let us know if this happens still for you with latest SDK version.

[2019-08-30 15:15] iangmaia opened #50 "UIWebview usage warning when submitting app"
We're getting the following warning when submitting an app using the latest version of the FreshchatSDK:

We don't use many other third party libraries, so we're guessing it might be the case for Freshchat SDK that UIWebView is being referenced somewhere.

Can you guys please check and confirm if this happens or not?
Thanks!

[2019-08-31 20:28] harish-kumarc commented on #50
Hi @iangmaia , Thanks for reporting it.
We are using UIWebView for loading selected article content. We acknowledge and push req. changes with our next release.

[2019-09-07 09:11] cahyofendhi commented on #36
okay thanks @harish-kumarc

[2019-09-07 09:11] #36 closed

[2019-09-07 12:34] jesobreira commented on #38
I was having the same issue with Ionic. My problem is that I was trying to use an integer value for the externalId when doing identifyUser(). Even thought my application does use numeric user IDs, it has to be cast to string.

[code]

[code]

Doing this does not fail on Android but AppCrashed on iOS (using [freshchat-phonegap](https://github.com/techaffinity/freshchat-phonegap)).

Leaving this her

[2019-09-09 12:14] AtifSharaf opened #51 "Crash Fatal Exception: NSInvalidArgumentException +entityForName: nil"
I am getting below crashes. I am using v 2.4.3

Below is log

Fatal Exception: NSInvalidArgumentException
+entityForName: nil is not a legal NSManagedObjectContext parameter searching for entity name 'FCConversations'

#0. Crashed: com.twitter.crashlytics.ios.exception
0  App                       0x1046c66cc CLSProcessRecordAllThreads + 376 (CLSProcess.c:376)
1  App                       0x1046c6

[2019-09-09 12:39] AtifSharaf opened #52 "Fatal Exception: NSInvalidArgumentException +entityForName: nil is not a legal NSManagedObjectContext parameter searching for entity name 'FCParticipants'"
Application crashes for some users

Fatal Exception: NSInvalidArgumentException
+entityForName: nil is not a legal NSManagedObjectContext parameter searching for entity name 'FCParticipants'

# OS Version: 12.4.1 (16G102)
# Device: iPhone XS Max
# RAM Free: 11.8%
# Disk Free: 60.6%

#0. Crashed: com.twitter.crashlytics.ios.exception
0  App                       0x1002a26cc CLSProcessRecordAllThrea

[2019-09-09 15:36] harish-kumarc commented on #52
Hi @AtifSharaf , thanks for reporting the issue. If possible can you give us FreshchatSDK version no. where you are getting the crash as we have fix the issue with release[ v2.5.2](https://github.com/freshdesk/freshchat-ios/releases/tag/v2.5.2). Also if you are on older version of SDK then please update with latest one.
Thanks

[2019-09-10 08:45] PavelStepanovTomorrow opened #53 "Fatal exception: 'NSGenericException', reason: 'Access to UISearchBar's _searchField ivar is prohibited ...'"
Hey there! When implementing FAQ for our iOS app I've found a crash.

When I tap on search button in the FAQ section the app crashes. It happens in 100% cases for iOS 13. I know, that it's still in beta, but maybe it's something that you should check. For iOS 12 it works good.

I'm using FreshchatSDK (2.7.1)

Device:
iOS 13.1 (17A5831c)
iPhone SE

*** Terminating app due to uncaught exception 'NSG

[2019-09-10 09:08] harish-kumarc commented on #53
@PavelStepanovTomorrow thanks for reporting it. We are looking into it and update soon.

[2019-09-10 10:12] AtifSharaf commented on #52
I am using v2.4.3 in the
Now I have updated to the latest. Hopefully, it will resolve crash since I can't reproduce crash at my end

[2019-09-10 10:20] AtifSharaf opened #54 "Crash -[FCDataManager preparePSC]"
SDK v2.4.3

[code]

[2019-09-10 10:22] AtifSharaf opened #55 "Fatal Exception: NSInvalidArgumentException *** -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[0]"
Using SDK v2.4.3

# Platform: ios
# Version: 3.14.10
# Date: 2019-09-09T08:32:00Z
# OS Version: 12.4.0 (16G77)
# Device: iPhone 6 Plus
# RAM Free: 3.7%
# Disk Free: 7.9%

#0. Crashed: com.twitter.crashlytics.ios.exception
0  App                       0x100d0e6cc CLSProcessRecordAllThreads + 376 (CLSProcess.c:376)
1  App                       0x100d0eab4 CLSProcessRecordAllThreads + 407 (CLSProcess

[2019-09-14 23:26] harish-kumarc commented on #51
@AtifSharaf , Thanks for the detailed log. We are investigating issue(s) and update you about the progress. Need some more details like crash state i.e is it happening in background or forground state and is it replicable, if yes then please share steps to create.
Also we made db files accessible permission changes and some CoreData fixes with release v2.5.2 so please upgrade to latest SDK version

[2019-09-15 01:28] ilkerc commented on #8
`User gets **registered when initiates message** (first message) from any of your channels.`: You have to fix this, seriously.

What is the point to have segments, an only a bunch of users who had a problem and wanted to contact?  What is the point to have campaigns, much of my users already churn when they see a problem. So shall I use campaigns only for trying re-engaging dormant users? You just

[2019-09-16 09:46] MuthuFD commented on #8
@ilkerc Please contact us at support@freshchat.com. We will check what can be done in your case.

[2019-09-17 08:12] AtifSharaf commented on #51
I have updated app with the latest SDK v2.7.1.
I can't reproduce these crashes at my end, but it seems to be fixed since I haven't got crash for this issue for the updated app.

[2019-09-17 08:12] #51 closed

[2019-09-17 08:16] AtifSharaf opened #56 "App crashes +[FCConversations RetriveConversationForConversationId:] + 144"
using v2.7.1

<img width="631" alt="Screen Shot 2019-09-17 at 12 15 03 PM" src="https://user-images.githubusercontent.com/11500668/65023916-e2590880-d944-11e9-950b-b0f2298fc878.png">

[DtMmfURWSR2sayCu4jjVub.xccrashpoint.zip](https://github.com/freshdesk/freshchat-ios/files/3620021/DtMmfURWSR2sayCu4jjVub.xccrashpoint.zip)

[2019-09-17 08:20] AtifSharaf opened #57 "App Crash CoreData: -[NSFetchRequest(_NSInternalMethods) _resolveEntityWithContext:] + 84"
using SDK v2.7.1

<img width="1247" alt="Screen Shot 2019-09-17 at 12 19 30 PM" src="https://user-images.githubusercontent.com/11500668/65024243-7d51e280-d945-11e9-8c3d-b3c2ab8eb9cd.png">
<img width="1263" alt="Screen Shot 2019-09-17 at 12 19 38 PM" src="https://user-images.githubusercontent.com/11500668/65024244-7d51e280-d945-11e9-8ade-b035f41f4838.png">

[2019-09-17 08:24] harish-kumarc commented on #50
@iangmaia , UIWebView depreciated warning during AppStore is fixed with release [v2.7.2](https://github.com/freshdesk/freshchat-ios/releases/tag/v2.7.2)

[2019-09-17 08:30] harish-kumarc commented on #53
@PavelStepanovTomorrow , We have fixed the issue with release v2.7.2 (https://github.com/freshdesk/freshchat-ios/releases/tag/v2.7.2). Please update to latest SDK version and let us know if the change fixes the crash on your side.

[2019-09-17 08:49] harish-kumarc commented on #57
Hi @AtifSharaf , Thanks for the logs. Reported issue is link with CoreData, we are investigating the issue from our side and surly update you about it.

[2019-09-17 09:01] PavelStepanovTomorrow commented on #53
@harish-kumarc Works now, thank you 👍

[2019-09-17 09:01] #53 closed

[2019-09-17 09:44] iangmaia commented on #50
Great, thanks @harish-kumarc .

[2019-09-18 11:04] #50 closed

[2019-09-20 03:55] lemikegao opened #58 "Fatal exception: -[FCChannels setChannelAlias:]: unrecognized selector"
Hi there, we recently updated from v2.6.1 to v2.7.1 and when we run the app in development mode, we hit this fatal exception:
[code]

This happens with 100% repro rate on a fresh install on my iPhone X, iOS 12.4.1

[2019-09-20 04:51] lemikegao commented on #58
Just a note that I just tested v2.7.2 and am no longer hitting this exception. Closing this out!

[2019-09-20 04:51] #58 closed

[2019-09-20 13:11] semenag01 opened #59 "Runtime Localization"
Hello, could you help me please

i call

[code]

as documentation said in method, which changes application language, where `self` is a current view controller.  But there is no updates with Freshchat. All screens are in device localization.

What's wrong? any other conditions? How Freshchat can understand, what is a new current language?

P.S. Localisation thought the application was made by taki

[2019-09-21 12:49] harish-kumarc commented on #59
Hi @semenag01 , Your implementation call looks good and code has to added in the end of your language locale change. Like -

[code]
The notification to change runtime language works together with app local string localization and fetches solution from Freshchat if available.
To debug please check following :
1. Check if the language is added added correctly for your project.
2. Language should be

[2019-09-23 10:23] #41 closed

[2019-09-24 19:39] TimE90 opened #60 "Pushtoken is not submitted to server on iOS 13"
Hey!

I already submitted a ticket via support (#4501484). There is an iOS 13 issue with push tokens. Because NSData description has changed… if we compile the app on iOS 12 your server receives a pushtoken for the user but on iOS 13 it doesn't. You must update the SDK urgently!

The push works in iOS 12 but your backend says on iOS 13 users there is no push token. So please fix SDK for iOS 13 to

[2019-09-25 09:58] PavelStepanovTomorrow commented on #60
Have the same problem, have come here to write it :)

[2019-09-25 10:28] harish-kumarc commented on #60
Hi @PavelStepanovTomorrow @TimE90 .. We have identified the issue and pushing the new version with the fix asap. Will update you shortly with release version. Thanks

[2019-09-25 10:54] TimE90 commented on #60
Hi! Ok, thanks for fast fix! Please comment when we can update :)

[2019-09-25 15:33] TimE90 commented on #60
@harish-kumarc did you get it? We need your SDK update before submitting our app…

[2019-09-26 05:56] TimE90 commented on #60
@harish-kumarc What's the status?

[2019-09-26 06:23] harish-kumarc commented on #60
HI @TimE90 ,Sorry the delay... The Fix is under QA cycle, will update you asap it is available in production. If you wants to verify the fix, our pre-prod version is available you can test via replacing pod 'FreshchatSDK' with below line in your podfile.
[code]

Thanks

[2019-09-26 06:41] TimE90 commented on #60
@harish-kumarc Tested and it works! Thanks for fix!

[2019-09-26 11:59] PavelStepanovTomorrow commented on #60
Works good, thank you, that was fast :)

[2019-09-26 13:02] harish-kumarc commented on #60
@PavelStepanovTomorrow @TimE90 , production version is also live with [v2.8.0](https://github.com/freshdesk/freshchat-ios/releases/tag/v2.8.0). Please check and let u know about that too :). Thanks

[2019-09-26 13:03] TimE90 commented on #60
@harish-kumarc ok, will switch back to production. We've submitted our app some hours ago with pre-pod version… anything different to production?

[2019-09-26 13:39] PavelStepanovTomorrow commented on #60
I've checked it on the production already, works good

[2019-09-26 14:20] harish-kumarc commented on #60
@TimE90 , Its just a branch difference rest all are same only. Just make sure to update to prod **pod 'FreshchatSDK'** in next release :)

[2019-09-30 14:41] #60 closed

[2019-09-30 14:42] harish-kumarc commented on #59
Hi @semenag01 , Are you able to resolve the issue?

[2019-10-01 15:37] iangmaia commented on #28
@MuthuFD Any updates on this?

[2019-10-03 08:20] iangmaia opened #61 "Have a way to disable app notification badge updates"
Now, once we forward the `UNUserNotificationCenterDelegate` callbacks to Freshchat, the SDK itself will update the app icon.
When you have your own updates (or NO updates), this can start to get messy, forcing the app to work around the SDK.
There should be an option in the SDK configuration, such as the other ones we have, to enable/disable application icon badge updates.

[2019-10-03 20:45] harish-kumarc commented on #61
Thanks for the note @iangmaia, Will discuss more with team and surely update you on it.

[2019-10-11 18:52] bobby-snap opened #62 "iOS 13 theme ignored for setting navigation bar color"
The value I've set in my FCTheme.plist file for the navigation bar's background color appears to be getting ignored. I just installed the 2.8.1 update released yesterday in the hope that this would correct the issue, but it didn't have any effect.

![image](https://user-images.githubusercontent.com/41586445/66676691-ad7f5f00-ec2d-11e9-9b2d-8e3bb10ad41c.png)

![Simulator Screen Shot - iPhone 11 Pro

[2019-10-14 20:48] harish-kumarc commented on #62
Hi @bobby-snap ,  Freshchat SDK always give preference to App's Navigation bar appearance means if you have applied a specific colour to your app's navigation bar and setting up universally (using UIAppearance APIs) then that will be applied for Freshchat SDK screens also, so you doesn't need to perform any changes to alter app's lookalike appearance.
Yes we are still on old style approach and wil

[2019-10-14 20:59] bobby-snap commented on #62
It previously did not behave this way in my experience prior to iOS 13. The universal appearance in my app has always been gray, but the Freshchat theme's white color was properly set instead. I rather thought that was the point of being able to set it in the theme file, to override whatever else your app may have set and for Freshchat's navigation bar, use the value in the theme.

[2019-10-15 02:17] Lucodalack commented on #45
hey, do we have any update for this issue?

[2019-10-15 23:35] jasontrask opened #63 "How to open FAQs on a specific entry?"
I'd like to display the FAQs page in my app, but rather than filtering or letting the user search for an FAQ I'd like to be able to just display a specific FAQ immediately. Is this possible?

I thought that this might be what I'm looking for, but I can't seem to get it to work:
`-(void) openFreshchatDeeplink:(NSString *)linkStr viewController:(UIViewController *) viewController;`
I tried providing

[2019-10-16 13:36] harish-kumarc commented on #62
Hi @bobby-snap , we haven't change anything other than dark mode theme in SDK related with navigation bar recently. Also please verify with older release(s), also if possible please share same version where you have observed the change. To install any specific version use - pod 'FreshchatSDK', 'Specific_SDK_Version'
Thanks

[2019-10-16 13:40] harish-kumarc commented on #63
Hi @jasontrask ,
To open Freshchat deeplinks via `openFreshchatDeeplink` api please follow deep link pattern as "freshchat://faq/article?article_id=ID_VAL"
Where ID_VAL is article id visible in web portal when specific article is opened.
Sample account URL : https://web.freshchat.com/a/XXXXXXXXXXX/faqs/45/articles/123
Here 123 is ID_VAL

Another alternate option to directly open an FAQ is to call

[2019-10-16 16:27] bobby-snap commented on #62
It was Freshchat 2.8.0 that I found it on, and I just updated to see if it happened to be fixed in 2.8.1. Going back to an old version is not going to fix this, I am sure. If you haven't changed anything else related to the navigation bar recently, then that really is the source of the issue. I'm only trying to explain what's wrong so that it can be fixed. :)

So here's the full picture, of everyt

[2019-10-16 19:33] jasontrask commented on #63
Hi - thanks for the quick reply :)

I couldn't see anything in the FAQOptions which would allow a specific ID of an FAQ to be set...? The documentation just talks about setting filters.

Regarding the `openFreshchatDeeplink`, thanks - that pattern did the trick! But... this seems to only work with locally cached data? I can't get it to display the article until I've gone through the normal showFAQ

[2019-10-20 07:31] AtifSharaf commented on #57
@harish-kumarc is their any update on this issue?

[2019-10-20 14:34] harish-kumarc commented on #63
Hi @jasontrask
You can filter specific FAQ article(s) using FAQ tags. For that you need to mark/add specific tag for an article from web portal under FAQ sections . Please check section [4.2.1 Filtering FAQs](https://support.freshchat.com/support/solutions/articles/50000000048-freshchat-ios-sdk-integration-steps) here.
We have a threshold value for fetching FAQ after last fetch, so if an article i

[2019-10-21 08:33] bilal-hafeez commented on #59
Hi,
[code]
How can I set Apple Language correctly? How Freshchat can understand, what is a new current language?

[2019-10-21 10:43] harish-kumarc commented on #59
@bilal-hafeez
Check you if you are implementing `UserDefaults.standard.set(["your_language_code"], forKey: "AppleLanguages")` to change app's run time locale. After that you can call Freshchat's runtime runtime locale change API.
Thanks

[2019-10-24 08:09] semenag01 commented on #59
The answer above is correct

[2019-10-31 12:31] AtifSharaf opened #64 "Freshchat CoreData warning"
CoreData: annotation:  Failed to load optimized model at path '/var/containers/Bundle/Application/CE6EBCBE-1F38-4E9A-BEA4-609659C25C4A/SharafDG.app/FreshchatModels.bundle/FreshchatModel.momd/FreshchatModel 5.omo'

It didn't cause any crash.
using SDK version: 2.8.1

[2019-11-02 13:22] kinshukkashyap opened #65 "CoreData Crash in release config"
In debug config , I get this warning and in release i get a crash regarding core data, since my app does not use core data , neither does any other dependencies, i am suspecting this could be an issue.

CoreData: annotation:  Failed to load optimized model at path '/Users/kinshuk/Library/Developer/CoreSimulator/Devices/EB29EE4C-89DB-4C58-A8B7-0C707766D245/data/Containers/Bundle/Application/0486377

[2019-11-03 06:55] harish-kumarc commented on #65
hi @kinshukkashyap , we are aware of the warning above and its actually not creating any crashes. We will clear it in our future release(s). Can you give us logs for the crash and also steps if you are able to replicate it.

[2019-11-03 07:00] harish-kumarc commented on #64
hi @AtifSharaf , correct above one is warning with newer version of Xcode. It's not responsible for any crashes. We will clear with our coming release(s).

[2019-11-03 13:13] kinshukkashyap commented on #65
So far i have the only common pattern i see in this crash is if I log out and log in as multiple users on my app, That would also create multi FC user properties and i believe the SDK is trying to persist that info. Otherwise it is totally random.

I do have some crash logs for crashes related to coredata on freshchat happening on my production app.

Here is the stack trace of the thread that cras

[2019-11-03 17:40] harish-kumarc commented on #65
Thanks for the logs @kinshukkashyap .. We will analyse and fix all these. Also do you and additional info about crashes like - SDK version, iOS Version, Device, crash state background or background.

[2019-11-12 04:22] Lucodalack opened #66 "Freshchat crash"
I've seen several crashes occur in ios 13 and foreground, this is my crash log
`Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x19004098c __exceptionPreprocess
1  libobjc.A.dylib                0x18fd690a4 objc_exception_throw
2  CoreFoundation                 0x1900963f8 -[__NSCFString characterAtIndex:].cold.1
3  CoreFoundation                 0x19009f938 -[__NSDi

[2019-11-13 15:55] PavelStepanovTomorrow opened #67 "Push messages are not delivered"
Hey there! We have an issue with the push messages, they are not delivered anymore.

Checked 2.8.1/2.9.0 versions and iOS 12/13, doesn't work for both.

In one of the threads I saw a similar issue but for iOS 13 only. The behaviour we experiencing now is the same:
1) If the app is in background then no pushes at all
2) If the chat is opened then new messages are delivered once in ~10 seconds

Also

[2019-11-13 20:18] DouglasHennrich opened #68 "Swift: How to know when FAQ or CHAT it's closed?"
I search through events and there isn't a event to let me know when the user dismiss `Freshchat`

[2019-11-14 07:41] harish-kumarc commented on #68
Hi @DouglasHennrich , We are not exposing any SDK events for closing Freshchat solutions screen. Can you please help us in understanding the use case to achieve with it.
Thanks

[2019-11-14 07:44] harish-kumarc commented on #66
Thanks @Lucodalack for the log, Can you please share the steps to reproduce the crash with device info and SDK version.

[2019-11-14 08:43] PavelStepanovTomorrow commented on #67
Sorry, that was a fault on our side

[2019-11-14 08:43] #67 closed

[2019-11-14 10:10] Geoffrey-T commented on #66
If this screen can help you
<img width="794" alt="Screenshot 2019-11-14 at 11 09 22" src="https://user-images.githubusercontent.com/2649445/68847644-47c04000-06cf-11ea-98b5-b335eb2a5516.png">

[2019-11-14 12:40] DouglasHennrich commented on #68
I was creating a viewcontroller just to show up Freshchat. So I have to know when the Freshchat was dismiss so I can close this viewcontroller too

[2019-11-15 04:11] Lucodalack commented on #66
i see this issue in my crashlitics and actually i dont know how to reproduce it
I'm using :
SDK: 2.8.1
ios ver: 13

[2019-11-15 06:13] harish-kumarc commented on #66
Thanks again @Lucodalack for the information. We will analyse the logs and surely resolve this in our future release(s).

[2019-11-15 10:07] savy-91 opened #69 "Crash in FAQ on iOS"
We are currently experiencing a crash in our app built using flutter on iOS only.

*** First throw call stack:
(
	0   CoreFoundation                      0x00007fff23c4f02e __exceptionPreprocess + 350
	1   libobjc.A.dylib                     0x00007fff50b97b20 objc_exception_throw + 48
	2   CoreFoundation                      0x00007fff23c6fe94 +[NSObject(NSObject) doesNotRecognizeSelector:] + 132

[2019-11-15 10:28] savy-91 commented on #69
UPDATE: I managed to remove the icons from the categories and it still crashes in the same way

[2019-11-15 17:57] harish-kumarc commented on #68
Hi Douglas, As mentioned there is no close event, So can you try archiving same via adding an active view check logic or with viewWillAppear method in FreshchatSDK presenting view controller. Let us know if you are able to make it.

[2019-11-18 14:23] SRykhletskiy opened #70 "App crash during Freshchat init"
App was crashed during launch on iPhone SE (**iOS 13.1.3**). We symbolicated the crash log and found that it crashes when [Freshchat initWithConfig:] call.
**FreshchatSDK version (2.9.0)**

**Crash Log**
[code]

[2019-11-22 12:39] DouglasHennrich commented on #68
Didn't thought about it 🤔 Thanks

[2019-11-22 12:39] #68 closed

[2019-11-24 12:23] harish-kumarc commented on #69
@savy-91 Officially we are not supporting Freshchat for Flutter. And sure how you have build and added the SDK while creating your own FreshchatSDK.
Can you please try adding "-all_load", "-objC" flags in Project Settings, General > Build Settings > Other Linker flags.
Let us know if this fixes the issue.

[2019-11-25 15:44] kinshukkashyap commented on #65
Sorry for the delayed replay @harish-kumarc , Here are the info you requested:

1. SDK Version - 2.5.2
2. iOS Version - Varies but is always a iOS 12 release
3. Device - Have seen it on a variety of devices from iPhone 6 to iPhone XS Max (100+ users affected)
4. Mostly foreground (1% background is shown by crashlytics)

Here are some screenshots attached for your reference as well

![Screenshot 20

[2019-11-26 14:20] biazmoreira opened #71 "Loading indefinitely Sometimes"
Hello,

I did a small investigation with the Android SDK and IOS SDK last week using a free account. I used this free account APP Key and APP Id. After that, the company I work for decided to proceed on using FreshChat. Then, I changed to use their APP Key and APP Id and after that I'm stuck on the loading messages screen. I can't test nor doing anything. Both iOS and Android are stuck on the load

[2019-11-27 13:16] harish-kumarc commented on #71
Hi @biancamoreiragyg . Really sorry for the inconvenience. There are only three cases only where you see infinite loading into your app
1. Check if your AppId and AppKey are added in correct order.
2. If you are clearing keychain(For iOS) store after initialising in freshchatSDK.
3. If config domain value is missing. Check your Freshchat portal URL. if its NOT **web.freshchat.com**, then in config

[2019-12-12 07:21] narendraksp opened #72 "push notification(APN)"
i am not receiving push notification(APN) in ios13  iPhones but   I am getting notification in  lower version( ios 12.x and below)

[2019-12-12 12:21] harish-kumarc commented on #72
Hi @narendraksp , There was an issue where if you are using SDK version less than v2.8.0 with Xcode 11 then push notification are failing with iOS 13+ devices. This is fixed with release [v2.8.0](https://github.com/freshdesk/freshchat-ios/releases/tag/v2.8.0). Can you please update to latest SDK version and let us know if this fixes the issue.

[2019-12-12 12:51] kurkutenr commented on #8
Why do we need this - when user registers **registered when initiates message** from any of your channels.
Even after trying this i don't see user/email in "All Users"  on fresh chat dashboard

Seriously, you need to fix this.

[2019-12-13 12:08] narendraksp commented on #72
@harish-kumarc Now its working fine, thanks for the solution

[2019-12-15 10:25] AtifSharaf opened #73 "-[FCMemLogger addMessage:]"
I am using SDK v2.9.0. Crash happened in foreground

EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000971dae9b0

Stack trace

[code]

[2019-12-16 07:04] harish-kumarc commented on #73
Thanks @AtifSharaf for the logs, we are looking into it. Are you able to replicate it in dev envt or is it a production crash? Also if possible please send us the device info where its happening.
Thanks

[2019-12-16 07:55] AtifSharaf commented on #73
@harish-kumarc this is a production crash. I am not able to reproduce it at my end.
included device info
<img width="803" alt="Screen Shot 2019-12-16 at 11 54 15 AM" src="https://user-images.githubusercontent.com/11500668/70888927-da1f7080-1ffa-11ea-88fe-12a9c9eef3b6.png">

[2019-12-23 07:41] pallab94 opened #74 "Xamarin ios project not working"
I have tried the below link shared with us for Xamarin ios project using freshchat sdk:

https://www.dropbox.com/sh/cdm3x9xgt7jrcpn/AACO-xpHg1imvWZIFltK6cYta?dl=0

I'm not able to open chats using proper credentials. Please provide me valid freshchat sdk project for Xamarin iOS. This is a blocker for our development.

[2019-12-23 18:51] harish-kumarc commented on #74
Hi @pallab94 , please check if dll is linked properly with above.
Please try another working sample here also please add update your appid and appkey there - https://www.dropbox.com/s/pok1adn2yl32rnq/FCiOSPushXamarin.zip?dl=0
And let us know if this works for you.

Thanks.

[2019-12-23 21:22] pallab94 commented on #74
I have successfully integrated freshchat sdk and it's working now.

Few issues:

1> Freshchat.SharedInstance().UnreadCountWithCompletion((unreadCount))
     unreadcount always returning 0

2> sometimes sdk crashing not all times

[2019-12-24 08:09] harish-kumarc commented on #74
Awesome @pallab94 .
For the issues above
1. If push is enabled for sample app then unread count will reflect instantly else there is minor delay.
2. Can you please send us the exact crash logs as that will help us in getting the root cause.
Thanks

[2019-12-25 09:31] iamsanketray123 opened #75 "Full screen"
How do I make sure to display the conversation page in full screen in iOS 13?

[2019-12-25 11:42] harish-kumarc commented on #75
Hi @iamsanketray123 , Apple introduced a new default card presentation from iOS and to get fullscreen you have to specify it explicitly as fullScreen with modelPresentationStyle.
Like : -
[code]

[2019-12-25 11:45] iamsanketray123 commented on #75
`Freshchat.sharedInstance().showConversations(self, with: options)`
How do I convert this to the above format?

[2019-12-25 13:36] harish-kumarc commented on #75
Hi @iamsanketray123 , looks like you are using old version of SDK. Please use `pod update` to install latest version that has default fullscreen view for Freshchat screens.

[2019-12-25 21:30] #72 closed

[2019-12-27 09:05] #75 closed

[2020-01-03 17:40] muhammadashfaq opened #76 "'FreshchatInvalidArgumentException', reason: 'Initialization failed : FreshchatSDK initialized with invalid AppKey!'"
Hi i am integrating freshdesk in one of my app.

I am giving APP_ID and API_KEY from  My FreshDesk Pannel.

Can anybody tell what is diffrence between APP_KEY and API_KEy are they same or diffrent. if they are diffrent then from where i can get APP_KEY ?

[2020-01-03 17:41] muhammadashfaq commented on #70
i am also getting the same crash on iOS. anyone here ?

[2020-01-03 19:10] harish-kumarc commented on #76
Hi @muhammadashfaq , APP_ID and API_KEY are two separate keys in UUID format that defines unique account identity with Freshchat. You can get them in **Mobile SDK** section under **Settings** (last icon centre left) in **Freshchat** portal https://web.freshchat.com, same mentioned under **Get your APP ID and APP Key** in documentation guide [here](https://support.freshchat.com/support/solutions/ar

[2020-01-14 02:03] philgrida opened #77 "Crashing issue when using search on iOS13"
When tapping the search button in the FAQ window when on a iOS13 device (iPhone), the app will crash and raises the following exception :

<Access to UISearchBar's _searchField ivar is prohibited. This is an application bug> <{
    "UncaughtExceptionHandlerAddressesKey_PIM" =     (
        "4   libc++abi.dylib                     0x0000000185043304 08F81BAA-B7B7-3E6C-B674-4227D40E6BFD + 58116",

[2020-01-14 10:48] harish-kumarc commented on #77
Hi @philgrida , Yes the crash happens when you are using old version od SDK(< 2.7.2) and build your project with Xcode 11.
We have fixed it with [ v2.7.2](https://github.com/freshdesk/freshchat-ios/releases/tag/v2.7.2). Please update to latest SDK and do let us know if its resolved.
Thanks

[2020-01-14 10:48] #76 closed

[2020-01-15 02:46] philgrida commented on #77
All good thanks.

[2020-01-15 02:46] #77 closed

[2020-01-16 11:56] pallab94 commented on #74
Hi, I have enabled push notification but still getting o in unread count.

Please go through below code and suggest if anything wrong I'm doing:

**AppDelegate FinishedLaunching**

FreshchatConfig freshchatConfig =
                    new FreshchatConfig(Constants.FreshChatAppId, Constants.FreshChatAppKey);
            freshchatConfig.GallerySelectionEnabled = true;
            freshchatConfig.Cam

[2020-01-16 12:04] pallab94 commented on #74
FYI...I'm using Firebase Cloud Messaging for push notification.

[2020-01-16 12:17] harish-kumarc commented on #74
Hi @pallab94 , Are you able to get push notifications into your application for agent conversation(s) after implementation? As prompt display of unread count is linked with push notifications.

To receive push you must add correct environment certificate(with bundlId and password) in Freshchat portal under Settings -> Mobile SDK. Also please check Push enabled flag value for conversation
<img widt

[2020-01-16 12:32] pallab94 commented on #74
<img width="344" alt="Screenshot 2020-01-16 at 5 52 25 PM" src="https://user-images.githubusercontent.com/59161402/72525475-4277a100-388a-11ea-97db-a1c0303a16c9.png">
<img width="938" alt="Screenshot 2020-01-16 at 6 00 12 PM" src="https://user-images.githubusercontent.com/59161402/72525476-4277a100-388a-11ea-9db5-7a0dff29f154.png">

Please check attached settings. I already added proper certificat

[2020-01-16 12:36] harish-kumarc commented on #74
Is push notifications are working for you?

[2020-01-16 12:39] pallab94 commented on #74
yes I'm receiving push notifications from Server as well as FCM

[2020-01-16 14:17] losernobody opened #78 "Message could not be sent programmatically"
I am using Freshchat SDK in an iOS app.

Using the UI provided by the SDK, it is possible to send and receive messages. The sent messages can be viewed in the dashboard.

However, I am not able to send messages programmatically. Following is the code used-
[code]

The above message is not found when the UI is shown to view messages using following code-
[code]

The message is also not found in the

[2020-01-16 17:28] harish-kumarc commented on #78
Hi @losernobody , the snippet you shared is correct and should work for send message programatically to specific tagged channel. And if the tag isn't match with target channel then message will go to default channel.
Can you please check again under conversations filter section if conversation is auto-assigned to agent or auto-resolved or assigned to bot (based on your settings).
<img width="401"

[2020-01-17 06:44] harish-kumarc commented on #74
Hi @pallab94, here is the link for the sample project for unread count https://www.dropbox.com/s/lepbdrvjbqf9n28/UnreadCountiOSSample.zip?dl=0 Please check and let us know if it works for you.

[2020-01-17 08:07] losernobody commented on #78
I am unable to find the message in the dashboard.

https://github.com/losernobody/freshchatissue contains code to reproduce the issue. Please perform following steps-
- clone the above repository
- run the app
- Tap on "Send message" to send message programmatically
- Tap on "Show conversations" to view the conversations.

- The message that was sent programmatically will not be present in the con

[2020-01-17 11:10] harish-kumarc commented on #78
Hi @losernobody
We have checked the available channel via charles proxy for the sample you shared and found that there is no "**Inbox**" tag available for any of your active channel. You can add a tag via selecting a channel then **Advance Setting** then add tag and finally publish.
Ideally if there is no matching tag available then we redirect messages to default channel but in some cases "Defaul

[2020-01-17 11:43] losernobody commented on #78
After adding the tag to channel, messages can be sent programmatically.

Thanks for the help.

[2020-01-17 11:43] #78 closed

[2020-01-26 06:18] AtifSharaf opened #79 "Fatal Exception: NSInvalidArgumentException +entityForName: nil is not a legal NSManagedObjectContext parameter searching for entity name 'FCConversations' +[FCConversations RetriveConversationForConversationId:]"
I am getting a lot of these crashes. All crashes are happening on foreground
SDK v. 2.9.0

[code]

[2020-01-26 07:09] mBilal5674 commented on #65
It's still happening.

[2020-01-26 11:50] #52 closed

[2020-01-26 16:44] harish-kumarc commented on #65
@mBilal5674 , Thanks for the data. We have identified the issue and planning to push it out in next SDK release (~February first week).

[2020-01-30 09:09] mikhailmelnik commented on #71
@harish-kumarc it will be great to have information about domain mentioned in documentation. I've spent half a day fighting infinite spinners on android and debugging app until guessed it might be related to domain (again, just because I was experimenting with web version and at some point it started displaying nothing until I've replaced the host) and finally getting to this issue.

[2020-01-31 22:21] marcknock opened #80 "resetUserWithCompletion: calls completion more than once"
When calling:

[code]

The completion is called more than once. I don't know if this is expected behavior or not, but usually completion blocks are called once.

[2020-01-31 22:26] marcknock opened #81 "Calling unreadCountWithCompletion outside the main thread will trigger Core Data multithreading assertions"
[code]
Calling this method outside of the main thread will cause issues with your Core Data implementation. If you have concurrency assetions enabled in your target, you will see them pop up by calling this method in the background. **Either mark this method as needing to be called from the main thread in your documentation, or better, ensure MO and MOC thread safety**.

When developing and testin

[2020-01-31 22:27] marcknock opened #82 "Prefix push notifications alert body with support agent name"
On iOS, the push notifications received from Freschat should be prefixed with the Support Agent's name sending them.

Right now you just get the message body, which makes it hard to distinguish if this is a support message or not. Push notifications for an app may not be entirely used for Freshchat.

Better yet, allow us to configure this in the Freshchat admin panel.

[2020-01-31 22:32] marcknock opened #83 "In-app notification banner overlaps status bar"
I guess this really depends on iOS version and how the status bar is handled in the app.

In any case, let me know if I can provide you with more information. None of the content in the notification banner should be under the status bar's text.

Also, please consider that an app may have a dark or light status bar, you should adjust your background accordingly to that.

![IMG_0046](https://user-im

[2020-01-31 22:34] marcknock commented on #61
This is absolutely necessary, the SDK should never override `UIApplication.applicationIconBadgeNumber` without the app's permission to do so. The application badge number may be used for something else.

[2020-01-31 22:37] marcknock commented on #28
First of all, there really isn't a distinction between production and sandbox anymore for APNS, so your web UI should be updated if possible.

This issue is for supporting Apple's push notification keys. These keys do not expire like certificates.

Right now Freshchat has us uploading APNS certificates, which expire within a year or two.

Please allow us to upload .p8 keys which do not expire. The

[2020-01-31 23:21] marcknock opened #84 "Annotate type of setUserProperties dictionary to support only string values"
You only support string as values, please annotate this in your API to avoid us the (nice) warning at runtime.

[code]

[code]

[2020-02-02 09:46] harish-kumarc commented on #84
Thanks for the feedback @marcknock  we will update that.

[2020-02-02 10:27] harish-kumarc commented on #82
hi @marcknock , we have an api `Freshchat.sharedInstance().isFreshchatNotification` that should be used in notification handling to distinguish if the notification is from Freshchat or from other source. Please check [section 6](https://support.freshchat.com/support/solutions/articles/50000000048-freshchat-ios-sdk-integration-steps) under documentation guide.
After clicking the push notification w

[2020-02-02 10:34] harish-kumarc commented on #49
Closing the issue, please let us know if you are facing it again.

[2020-02-02 10:34] #49 closed

[2020-02-02 10:46] harish-kumarc commented on #69
Closing the issue, let us know if you are still facing it.

[2020-02-02 10:47] #69 closed

[2020-02-02 12:00] harish-kumarc commented on #83
Hi @marcknock , For in app notification banner we are creating our custom view animated on top view so it is visible below status bar. We will fix inapp banner and status bar content overlapping in coming release(s).

[2020-02-03 10:51] Lucodalack commented on #45
Sorry if it bother you, but do we have plan for fix that issue

[2020-02-03 20:38] marcknock commented on #82
Thank you for the reply.

I am not asking about identifying Freshchat messages in the SDK. I am asking about the customer experience, what the users sees on their lock screen.

Where exactly is this on the Freschat admin page? Are you saying there is a setting which will prefix the message body in the APNS alert with the sender's name? As this is what we want.

[2020-02-03 20:45] marcknock opened #85 "Callling Freshchat.sharedInstance().identifyUser does not set FreshchatUser.sharedInstance().restoreID or externalID"
Callling Freshchat.sharedInstance().identifyUser does not set FreshchatUser.sharedInstance().restoreID or externalID

If the identifyUser API is not immediate, there should be a completion block. Otherwise, FreshchatUser, which I assume from the API, is a singleton, should have both restoreID and externalID set to what was called in identifyUser

[2020-02-03 20:49] marcknock opened #86 "Annotate FreshchatSDK.h with nullability attributes"
This is essential for proper Swift integration, as well as for code clarity:

https://developer.apple.com/documentation/swift/objective-c_and_c_code_customization/designating_nullability_in_objective-c_apis

[2020-02-03 21:54] marcknock opened #87 "Attaching pictures from iOS leads to rotated pictures on web app"
Repro steps: attach a picture taken with your phone sideways.

Go to the Freshchat web interface, you will see the picture is not properly rotated. It should show as it shows on iOS.

This has to do that iOS embeds the rotation of an image in the EXIF Orientation tag, which is not honored by most web clients, assuming it is not stripped out by Freshchat when sent to your servers.

This needs to be

[2020-02-04 07:57] harish-kumarc commented on #45
Hi @Lucodalack , no worries. The issues is fixed and we will map it with our releases after QA. It will be out by February.

[2020-02-04 08:08] harish-kumarc commented on #80
Hi @marcknock , Thanks for pointing out the issue, we are aware about it and surely release a new SDK version with fix by Feb.

[2020-02-05 14:25] harish-kumarc commented on #85
Hi @marcknock , User restore ID will be generated only when customer starts a message with Freshchat that may happen after many sessions of app usage. So we are trigger local notification for restoreId and that can be listened in application(also updated with FreshchatUser) and restoreId can be updated to database for future restore call.

[2020-02-07 02:24] Lucodalack commented on #45
thanks alot

[2020-02-07 10:54] tengfoung opened #88 "'FreshchatSDK/FreshchatSDK.h' file not found"
Compilation error "'FreshchatSDK/FreshchatSDK.h' file not found" when trying to run testing on the SwiftSample project.

Xcode version: 11.2.1

![Screenshot 2020-02-07 at 6 51 49 PM](https://user-images.githubusercontent.com/4436592/74023678-2d9ab300-49db-11ea-9957-af512b944242.png)

You may find the Xcode 11 compatible project here: https://github.com/tengfoung/freshchat-ios/tree/swift-5

[2020-02-10 23:00] marcknock opened #90 "Allow us to present the support screen with a prefilled chat message"
Often we want to pass an error message to be sent to the support team, please add a parameter to the method that shows the chat screen, so we can pass in a pre-filled message.

[2020-02-11 10:03] samwyndham opened #91 "Is Freshchat.sharedInstance() guaranteed to succeed?"
From swift `Freshchat.sharedInstance()` returns an implicitly unwrapped optional object as the SDK doesn't have nullability annotations.

Is it safe to assume that this will always succeed? Looking at the [integration guidelines](https://support.freshchat.com/support/solutions/articles/50000000048-freshchat-ios-sdk-integration-steps) there are 27 instances where the object is implicitly unwrapped

[2020-02-11 11:08] hemanth-sudarsan commented on #39
@Bran-nod Closing this issue. If it happens again please reopen this thread.

[2020-02-11 11:08] #39 closed

[2020-02-11 12:04] harish-kumarc commented on #71
Thanks @mikhailmelnik , Default domain for Freshchat is msdk.freshchat.com and for that customers don't need to update anything from SDK. But if a customer wants a region specific account then our account manger will define that, but in some cases from either of the sides its missed and that create the issue. We have noted it and surly improve this.

[2020-02-11 12:04] #71 closed

[2020-02-11 12:05] hemanth-sudarsan commented on #91
@samwyndham It will succeed all time. We will update with a nonnull object in future release.

[2020-02-11 12:19] hemanth-sudarsan commented on #90
@marcknock We have a sendMessage() function, which can be used before showing the chat screen. We also added user events tracker in the latest SDK v3.1.0, if you like to track error as separate event.

[2020-02-11 12:46] iangmaia opened #92 "Wrongly reported app version"
Freshchat always report version 1.0 as the app version to CS agents, regardless of what the actual version is. We're using Freshchat with Carthage, so this is probably the cause.

I believe this is related to this https://github.com/freshdesk/freshchat-ios/issues/29, as this is also related to loading information from a different Bundle.

[2020-02-11 13:22] hemanth-sudarsan commented on #86
@marcknock Will be doing it in future release and update you.

[2020-02-11 13:47] samwyndham commented on #91
Thanks @hemanth-sudarsan for the fast reply!

[2020-02-11 17:07] harish-kumarc commented on #74
Closing the issue, let us know if you are still facing the issue.

[2020-02-11 17:07] #74 closed

[2020-02-12 04:57] harish-kumarc commented on #85
https://github.com/freshdesk/freshchat-ios/issues/85#issuecomment-582431940
This clears why completion block isn't suitable for restoreId.
Closing the issue.

[2020-02-12 04:57] #85 closed

[2020-02-12 08:09] harish-kumarc commented on #82
Currently we aren't providing any option or settings to add or prefix agent name with message text reply in Freshchat push notifications.
Above refers to **Message detail screen in SDK** or chat screen and agent name can be configured there based on SDK init configs. By default Agent name is available for all agent messages. If they want a placeholder text or Company name instead then `config.team

[2020-02-12 10:21] hemanth-sudarsan commented on #88
Hi @tengfoung We ran your project in Xcode 11.3.1 and 11.3, it is working completely fine. We will check in Xcode 11.2.1 and confirm too.

[2020-02-12 10:53] tengfoung commented on #88
@hemanth-sudarsan it will only reproducible when `cmd+u`

[2020-02-12 11:59] hemanth-sudarsan commented on #88
@tengfoung
Podfile Should be like this,
[code]
And this one works.

[2020-02-12 13:06] thecoffeehog opened #93 "The attach icon isn't appearing but is functioning."
![image](https://user-images.githubusercontent.com/8275355/74337528-729d5b80-4dc6-11ea-8bd3-f97b2b3e3e16.png)

[2020-02-12 13:37] harish-kumarc commented on #93
@thecoffeehog , Which SDK version are you using into your application?

[2020-02-12 20:05] naren7229 commented on #93
2.9.0

[2020-02-12 20:05] naren7229 commented on #93
2.9.0

[2020-02-13 02:54] thecoffeehog commented on #93
Yes @harish-kumarc as @naren7229  said we are using the 2.9.0 version.

[2020-02-13 06:15] harish-kumarc commented on #92
@iangmaia Thanks, It is a known issue with Carthage both application version and version-code comes as 1in Freshchat web portal. We will push the fix in next release(s).

[2020-02-13 06:25] harish-kumarc commented on #93
@thecoffeehog @naren7229 as visible from your screenshot looks, the chat message bubble background, send message  images are missing. This points that the `FCResources.bundle` or If you are using custom resource bundle not included(Target settings) with your project. Please check and correctly including bundle will fix attach icon also.

[2020-02-13 06:26] #82 closed

[2020-02-13 09:44] thecoffeehog commented on #93
Thanks, @harish-kumarc! We will try this and get back if are unable to solve. cc: @naren7229

[2020-02-13 09:49] thecoffeehog commented on #93
Also, @harish-kumarc are there any plans for an official Flutter package for Freshchat?

We are currently using https://pub.dev/packages/flutter_freshchat and it's probably getting difficult for the package developer to maintain it.

I am pretty sure many Freshchat customers will appreciate this and many new ones as well.

[2020-02-13 10:24] harish-kumarc commented on #22
Closing now, Please reopen if req.

[2020-02-13 10:24] #22 closed

[2020-02-13 18:24] harish-kumarc commented on #46
@Bathibabu , can you please check view stack and also make sure that Freshchat view is added correctly. If possible please share a sample app with implementation, this will surly helps us to serve better.

[2020-02-13 20:57] marcknock commented on #90
We need it to be pre-filled, so the user can add more information as to what happened to cause that error. We don't want to be sending messages without the user's consent.

Intercom supports this feature.

[2020-02-14 05:47] hemanth-sudarsan commented on #88
@tengfoung Closing this. Hope its been solved.

[2020-02-14 05:47] #88 closed

[2020-02-15 06:17] ifndefgt opened #94 "Integration Guide URL broken"
Integration Guide URL is broken. And it's a blocker problem for SDK integration

[2020-02-15 15:56] harish-kumarc commented on #94
Hi @ifndefgt , please follow the url below for SDK integration doc https://support.freshchat.com/support/solutions/articles/50000000048-freshchat-ios-sdk-integration-steps
Also can you please URL you are trying from. Thanks.

[2020-02-15 18:54] ifndefgt commented on #94
Hi @harish-kumarc , thank you for quick response.

I have just followed the URL in Readme.md

https://github.com/freshdesk/freshchat-ios/blob/master/README.md

which is

https://support.freshchat.com/support/solutions/articles/232945-freshchat-ios-sdk-integration

Thanks

[2020-02-16 05:54] harish-kumarc commented on #94
@ifndefgt , we have migrated to new integration doc sometime back but missed the URL in README.md file. Thanks for letting us know about it : ). The URL is now updated with correct integration guide, sorry for the inconvenience.

[2020-02-16 22:29] ifndefgt commented on #94
Thanks for your quick support. I didn't even feel the inconvenience.

[2020-02-16 22:29] #94 closed

[2020-02-17 18:21] harish-kumarc commented on #70
@SRykhletskiy  @muhammadashfaq are you folks still facing the issue? We tried but aren't able to replicate.

[2020-02-18 09:47] harish-kumarc commented on #93
@thecoffeehog We are exploring this from our side along with better maintainablility with new releases. We will have an official one but as third party flutter SDK is already available so its not in priority from our-side.

[2020-02-19 08:54] thecoffeehog commented on #93
Thanks for the reply @harish-kumarc but the third party plugin has a host of issues and the experience with it on iOS is very bad, so if an official plugin for Freshchat was there it will help big time.

You can even confirm this with your sales team, they must have got a lot of queries regarding this.

Intercom, Zendesk and others have official plugins for Flutter.

[2020-02-20 05:45] kinshukkashyap commented on #65
@harish-kumarc any update on this ?

[2020-02-20 07:18] harish-kumarc commented on #55
@AtifSharaf , Can you please update SDK to [v3.2.2](https://github.com/freshdesk/freshchat-ios/releases/tag/v3.2.2) and let us know if the issue is fixed.

[2020-02-20 07:25] harish-kumarc commented on #56
@AtifSharaf, We have made CoreData improvements in SDK [v3.2.2](https://github.com/freshdesk/freshchat-ios/releases/tag/v3.2.2) please update SDK and let us know if the issue is fixed.

[2020-02-20 07:31] harish-kumarc commented on #79
Hi @AtifSharaf , With SDK [v3.2.2](https://github.com/freshdesk/freshchat-ios/releases/tag/v3.2.2) we made some improvements for same. Can you please update SDK and let us know if the issue is fixed.

[2020-02-20 07:36] harish-kumarc commented on #57
@AtifSharaf , we made some improvements to fix the issues. Can you please update SDK to [v3.2.2](https://github.com/freshdesk/freshchat-ios/releases/tag/v3.2.2) and letus know if the issue is fixed.

[2020-02-20 07:42] harish-kumarc commented on #73
@AtifSharaf , the crash is fixed with [v3.2.2](https://github.com/freshdesk/freshchat-ios/releases/tag/v3.2.2) Please update SDK and let us know if its fixed.

[2020-02-20 12:38] harish-kumarc commented on #93
Hi @thecoffeehog  Correct, some queries are there for Flutter but we redirect them to the third party SDK only. We will surly take your feedback forward to team and mark it as a Feature request :). Also if the issue is resolved please feel to close it.

[2020-02-20 12:46] harish-kumarc commented on #11
Please refer to our API documentation linked [here](https://developers.freshchat.com/api/)

[2020-02-20 12:46] #11 closed

[2020-02-20 13:27] thecoffeehog commented on #93
Thanks for considering the feedback @harish-kumarc
Will close the issue.

[2020-02-20 13:27] #93 closed

[2020-02-21 12:08] #46 closed

[2020-02-22 00:18] marcknock opened #95 "New Core Data Multithreading Violations"
<img width="596" alt="Screen Shot 2020-02-21 at 4 15 48 PM" src="https://user-images.githubusercontent.com/43761071/75081815-80896580-54c5-11ea-8e6a-d1abbe7e69eb.png">

Please test your code with `-com.apple.CoreData.ConcurrencyDebug 1` on your scheme launch arguments. All Core Data apps should be run with this during development.

Proper thread containment is essential when dealing with managed o

[2020-02-22 09:57] harish-kumarc commented on #65
Hi @kinshukkashyap we have made CoreData improvements with [v3.2.2](https://github.com/freshdesk/freshchat-ios/releases/tag/v3.2.2) SDK. Can you please update and let us if the crash is fixed for you. Modal path warning will be fixed future release(s).

[2020-02-24 09:03] kinshukkashyap commented on #65
@harish-kumarc Thanks for the update. Have updated the pod and have added to our next release build. Will keep you reported if i find any issues.

[2020-02-27 07:14] mohdkhmais commented on #69
@harish-kumarc  @savy-91 I have done everything you mentioned still getting the crash problem. is there any solution yet ?

[2020-02-27 09:31] harish-kumarc commented on #69
@mohdkhmais can you please share a sample app as we aren't able to replicate above issue after adding checks mentioned in https://github.com/freshdesk/freshchat-ios/issues/69#issuecomment-557883541

[2020-02-27 11:11] mohdkhmais commented on #69
@harish-kumarc I have added these flags as you said "adding "-all_load", "-objC" flags in Project Settings, General > Build Settings > Other Linker flags." still same thing

[2020-02-28 06:47] harish-kumarc commented on #69
@mohdkhmais  Are you creating your own Freshchat Flutter SDK or using third party SDK?

[2020-03-01 08:57] mohdkhmais commented on #69
@harish-kumarc No i am using the third party https://pub.dev/packages/flutter_freshchat , it crashes when i call the freshchat.init method

[2020-03-01 17:28] harish-kumarc commented on #69
@mohdkhmais , As the repository isn't maintain by Freshchat, Can you please post your issue under repo https://github.com/fayeed/flutter_freshchat. Also please check closed/active issues there, this will surly help you in fixing the issue.

[2020-03-03 02:58] Lucodalack opened #96 "Core data crash"
I received several crash relate on core data in the newest version 3.2.2
this is my crash log
`Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x194072a48 __exceptionPreprocess
1  libobjc.A.dylib                0x193d99fa4 objc_exception_throw
2  CoreData                       0x1989b537c -[NSAttributeDescription defaultValue]
3  CoreData                       0x19895

[2020-03-03 06:05] harish-kumarc commented on #96
Thanks @Lucodalack thanks for logs. If possible can you send us steps to reproduce.

[2020-03-03 07:55] Lucodalack commented on #96
It recorded in crashlytic, i also cant reproduce it

[2020-03-04 09:17] atmamont commented on #21
Any updates on this?

[2020-03-10 09:51] harish-kumarc commented on #80
@marcknock , The issue is fixed with [v3.3.0](https://github.com/freshdesk/freshchat-ios/releases/tag/v3.3.0). Please update to latest SDK.

[2020-03-10 21:04] marcknock commented on #80
Thank you for notifying me, as it was not included in the changelog.

[2020-03-10 21:04] #80 closed

[2020-03-11 18:31] harish-kumarc commented on #73
Closing the issue, Let us know if the issue resurface again.

[2020-03-11 18:31] #73 closed

[2020-03-13 11:53] TheMrugraj opened #97 "Allow us to add custom field or at least an Identifier to FreshChatUser"
Currently, I am using iOS FreshChatHybridSDK and Using FreshChatUser Class to set users. Now, the concern is along with email address, first name, last name, etc. There should be some way to attach a unique ID based on our own system so on the support side we can identify the user easily. Also, in some cases, we may need a few other data to be sent along with Query which is not possible currently.

[2020-03-15 19:10] harish-kumarc commented on #97
Hi @TheMrugraj , ExternalID can be set with identifyUser API only. Once a user starts a new conversation you will get a restoreId(Check [documentation](https://support.freshchat.com/support/solutions/articles/50000000048-freshchat-ios-sdk-integration-steps) for more) and can be accessed via user info. As both external as restoreId are unique and combination identifies user conversations so we aren

[2020-03-18 19:35] harish-kumarc commented on #97
Closing the issue.

[2020-03-18 19:35] #97 closed

[2020-03-24 10:37] Sreekanth1995 opened #98 "Will it support freshbot as well?"
I want to implement Chatbot in IOS Application. But I did not find any sdk regarding FreshBot.
Is this sdk same for chatbot as well?

[2020-03-25 08:39] harish-kumarc commented on #96
Hi @Lucodalack , We have fixed the the issue with release v3.3.3(https://github.com/freshdesk/freshchat-ios/releases/tag/v3.3.3).

[2020-03-25 08:39] #96 closed

[2020-03-25 08:42] harish-kumarc commented on #84
HI @marcknock we have fixed this with release v3.3.3(https://github.com/freshdesk/freshchat-ios/releases/tag/v3.3.3). Please update to latest SDK.

[2020-03-25 08:42] #84 closed

[2020-03-25 08:44] harish-kumarc commented on #83
Hi @marcknock , We have fixed the issue with latest release [v3.3.3](https://github.com/freshdesk/freshchat-ios/releases/tag/v3.3.3)

[2020-03-25 08:44] #83 closed

[2020-03-25 08:54] harish-kumarc commented on #65
@kinshukkashyap we have fixed the console warning also https://github.com/freshdesk/freshchat-ios/issues/65#issue-516591739 with release [v3.3.3](https://github.com/freshdesk/freshchat-ios/issues/65#issue-516591739)

[2020-03-25 08:54] #65 closed

[2020-03-25 09:12] #79 closed

[2020-03-25 09:13] harish-kumarc commented on #64
HI @AtifSharaf the console warning is fixed with release [v3.3.3](https://github.com/freshdesk/freshchat-ios/releases/tag/v3.3.3)

[2020-03-25 09:13] #64 closed

[2020-03-25 09:14] #56 closed

[2020-03-25 09:17] hemanth-sudarsan commented on #86
@marcknock In our latest release we have made the changes. Please update to the latest version v3.3.3.

[2020-03-25 09:18] #86 closed

[2020-03-29 18:39] rahuldange09 commented on #69
Sorry to reopen this issue? but @mohdkhmais @savy-91  is anyone resolved this issue?
@harish-kumarc please consider adding official support to flutter. As its started getting used widely

[2020-03-30 05:14] mohdkhmais commented on #69
@harish-kumarc i agree with @rahuldange09 , i found another crash with this plugin , it crashes at first time when you open your application i think it is in "freshchat.init" and the Second time is when you set auto message (when you are not in office time) it crashes whenever you open the chat screen.

[2020-04-01 19:34] #55 closed

[2020-04-01 19:38] harish-kumarc commented on #45
Hi @Lucodalack , We have fixed the the issue with release [v3.3.3](https://github.com/freshdesk/freshchat-ios/releases/tag/v3.3.3). Please update to lastest SDK.

[2020-04-01 19:38] #45 closed

[2020-04-02 03:07] failynsedik commented on #66
Same here. Experiencing a crash, but different crash log.

![Screen Shot 2020-04-02 at 11 05 54 AM](https://user-images.githubusercontent.com/52100901/78206674-12778b80-74d2-11ea-8f74-ffce6802f9fc.png)

[2020-04-02 07:05] failynsedik opened #99 "CRASH -[FCKeyChainStore setData:forKey:genericAttribute:label:comment:error:]"
Hi,

I am experiencing crashes and it's happening for quite a number of times. Please see screenshot and log. Thank you.
<img width="493" alt="multiple_crash" src="https://user-images.githubusercontent.com/52100901/78219990-44e5b080-74f3-11ea-910f-2394918b5e01.png">

**Log from Crashlytics:**
[code]

Edit: This is mostly happening on **iPhone 5 devices** that are on **iOS 10.x.x**. Also, I release

[2020-04-02 12:47] harish-kumarc commented on #66
@failynsedik , can you let us know which version of iOS SDK are you facing this crash.

[2020-04-02 18:01] harish-kumarc commented on #99
Thanks for the details @failynsedik , Which version of iOS SDK creating this crash?

[2020-04-02 18:03] harish-kumarc commented on #95
Thanks for the info @marcknock , we will check and analyse it form our side.

[2020-04-02 18:07] harish-kumarc commented on #54
@AtifSharaf , Please update to latest SDK and let us know if you are still facing the crash.

[2020-04-04 03:51] bestwnh commented on #99
@failynsedik it maybe a Xcode11.4 issue. You can also check this issue https://github.com/firebase/firebase-ios-sdk/issues/5233. We better use Xcode 11.3.1 for now. Because event if the Freshchat can fix it, some other frameworks or our code may also trigger the crash.

[2020-04-08 05:06] eonghk opened #100 "NSInvalidArgumentException Crash with Freshchat SDK 3.3.3"
Hi,
We have a crash in our iOS game and it has been there for a while. We updated the SDK to 3.3.3 but it doesn't help with it.
Here is the log from Crashlytics.

0  CoreFoundation                 0x19a35096c __exceptionPreprocess
1  libobjc.A.dylib                0x19a069028 objc_exception_throw
2  CoreFoundation                 0x19a24edcc -[NSOrderedSet initWithSet:copyItems:]
3  CoreFoundation

[2020-04-08 06:11] eonghk commented on #100
Here is the config we use, it may help.

[2020-04-13 12:52] harish-kumarc commented on #100
Thanks for the information @eonghk , we are analysing the logs from our side to check the root cause. Are you able to replicate the issue or do you have any steps to recreate it?

[2020-04-16 11:16] Linkadi98 opened #101 "Can not change icon in Freshchat"
Hello,
Our company's project uses Freshchat on iOS like a Message tool to help customers contact with us, but as usual, we have to custom the Freshchat UI, therefore we need to replace icons in Freshchat, but we can't not change the default icons in Freshchat UI, I don't see any guide in the Freshchat's custom theme guide that help us to change the icon in the Freshchat's UI. I made a bundle just

[2020-04-16 23:38] eonghk commented on #100
I do not know how to reproduce it. But it happens everyday on our customers. We can see that from our Firebase.

[2020-04-17 13:15] harish-kumarc commented on #100
Hi @eonghk , sorry for the inconvenience, we are also looking into it but failed to reproduce in dev environment so there it a little delay in taking up from our side. Will check and do necessary changes required to fix it asap. Thanks.

[2020-04-17 18:28] harish-kumarc commented on #101
Hi @Linkadi98
All the UI elements are customisable in Freshchat with icons. We provide a FCTheme.plist file that contains all the icons names with path under FCResources.bundle. You can change either icon path there or replace respective icon under Images folder. Icons names are also quite informative.
For UI elements we have a theme customisation guide, please check doc link [here](https://suppor

[2020-04-18 08:49] eonghk commented on #100
It seems to be content related. It happens when the user get the reply and the SDK is trying to push a local notification.
This problem seems to cause another issue that users will not be able to get the replies anymore. Even we close the conversation, when it re-open, it will load the history again. Try testing those UTF8 characters like Chinese and Japanese and different images. It may cause the

[2020-04-18 10:20] Linkadi98 commented on #101
Hello,
We did solve this problem because some mistakes when setting the bundle.

[2020-04-18 10:20] #101 closed

[2020-04-20 10:23] hemanth-sudarsan commented on #91
Hi @samwyndham, we updated the SDK with nonnull object. Please update to the latest SDK.

[2020-04-20 10:23] #91 closed

[2020-04-21 20:17] harish-kumarc commented on #100
Hi @eonghk , Thanks for your patience. We tried possible scenarios for the crash to replicate with log trace method(s) but still no success. We need following info from your side :
1. App state (background/foreground) for crash.
2. OS crash distribution info. Is the crash happens in >= iOS 13.2.1? Reason : There was an issue in iOS fixed with 13.2.1- Apps are being aggressively killed by the OS wh

[2020-04-22 01:13] eonghk commented on #100
1. It's foreground when crash happens.
2. It happens on 13.1.3, 12.1.1 and 13.1.2.
3. It only happens to users using UTF-8 characters in China for now. As you know, they have firewall and it will block SSL connections randomly. In some places, it's even worse, domains not registered in China will not be able to get visited properly.
We tried and we are not be able to reproduce this. I do not think

[2020-04-22 07:51] harish-kumarc commented on #100
Thanks for the information @eonghk Will check and let you know.
Your suggestion seems like based on the method names we have. But the flow for the crash logs mentioned is different as internally we uses some methods from the notification flow.
The flow is simple : Freshchat fetch for the messages based on the user's activity(previous support messages etc). After fetch we check if user's app is dis

[2020-04-24 03:15] eonghk commented on #100
Anyway, it happens.
We have to switch to other products if this can not be resolved. Users are complaining.

[2020-04-25 04:27] agoldis commented on #4
rnfreshchatsdk.firebaseapp.com is dead, who knows what's the current state of RN support?

[2020-04-28 10:19] bockc commented on #4
@agoldis https://www.npmjs.com/package/react-native-freshchat-sdk
But I still have trouble getting it to work well.

[2020-04-29 09:54] harish-kumarc commented on #70
Closing the issue. Please let us know if the issues appears again.

[2020-04-29 09:54] #70 closed

[2020-04-29 09:56] #57 closed

[2020-04-29 09:56] #99 closed

[2020-04-29 09:57] #54 closed

[2020-05-11 18:35] dippa87 commented on #10
Did anyone ever find a solution to this ?

For a premium product, this should already be a feature! I can understand the need to have advertisement if the person hasn't purchased it, but for the ones who have paid... this should be an option for us to have this removed!

If this isn't resolved in the near future, then I will not be using this product for much longer

[2020-05-12 14:58] Rep0se opened #102 "Support for SPM (Swift Package Manager)"
As a lot of Swift developers are moving away from using CocoaPods towards SPM, can you add SPM support by providing Package.swift manifest file with the framework?
![Screen Shot 2020-05-12 at 10 57 26 AM](https://user-images.githubusercontent.com/34381835/81708794-7a10e700-943f-11ea-84f0-449f6166cbcf.png)

[2020-05-20 02:52] jkestner commented on #10
I was able to remove this by method swizzling viewWillAppear in FCContainerView, and hiding FCFooterView there. But that since broke, and I haven't had time to pick it back up.

[2020-05-21 06:10] jaythummar85 commented on #8
@herarya

can you try this?
I have the same issue. I can fix it set domain because my account was not part of the US server.

If your Freshchat account is not part of Freshchat US servers, you must specify domain based on your server location. Please contact our support team to know your account's server location.

Following is the server location to domain mapping details

US2 - "https://msdk.us2

[2020-05-21 13:08] Bran-nod opened #103 "Apple push notification (APN)"
ios 13.3.1 / 12
SDK v3.6.0

Don't receive push notifications now, but in earlier versions we do.

[2020-05-23 13:47] hemanth-sudarsan commented on #103
@Bran-nod
Please make sure you see the Push Notification enabled is coming as YES inside the User properties section under user details. If not that means we have not received device token.
<img width="292" alt="Screenshot 2020-05-23 at 6 20 41 PM" src="https://user-images.githubusercontent.com/45059530/82732300-ffdb3f00-9d29-11ea-8a51-4c776e555936.png">

Under Capabilities add Background mode and

[2020-05-26 13:17] hemanth-sudarsan commented on #21
@atmamont Added the id is "**FreshchatMessageView**"
Please update to the latest version.

[2020-05-26 13:17] #21 closed

[2020-05-26 13:19] hemanth-sudarsan commented on #62
@bobby-snap Fixed this in our latest version.
Please update to the latest version.

[2020-05-26 13:19] #62 closed

[2020-05-26 13:36] harish-kumarc commented on #100
@eonghk we have made precautionary changes for the crash. Please update to [latest](https://github.com/freshdesk/freshchat-ios/releases/tag/v3.6.1) SDK version.

[2020-05-27 10:56] hemanth-sudarsan commented on #103
@Bran-nod Please feel free to open, if the problem persists.

[2020-05-27 10:56] #103 closed

[2020-05-27 10:57] hemanth-sudarsan commented on #98
@Sreekanth1995 No this is not for FreshBot. Please reach out to FreshBot support, they will guide you better.

[2020-05-27 10:57] #98 closed

[2020-05-27 11:30] iangmaia opened #104 "Customer Satisfaction Survey in the SDK"
This is more like a feature request, and I guess would apply to both iOS and Android.

Are there any plans on supporting Customer Satisfaction Surveys in the SDKs?

[2020-05-28 05:38] hemanth-sudarsan commented on #104
@iangmaia It is already there in our SDK. You have to enable the CSAT from your settings dashboard in web.

[2020-05-28 09:57] #100 closed

[2020-05-29 16:03] PavelStepanovTomorrow opened #105 "Font is altered when message has html tag"
Hello!

We have recently found a small issue with font: when there's a html tag in user's or agent's message  the font is altered. You can see it on the screenshot. Compare "F" in the word Font for 2 situations: with and without tag. Or "A" letter in the 2 messages below. One of them has serif.

Side note. In our project, we use only system font, FCTheme file has only system ones as well

Thanks.

[2020-06-09 07:55] ealeksandrov opened #106 "SDK v3.6.1+ fails to build on Xcode 11.3.1"
On CI machine (Xcode 11.3.1 + macOS 11.14) starting with version 3.6.1 of Freshchat SDK I receive this error:
[code]

On local Xcode 11.5 everything is fine. But I don't plan to update Xcode on CI system anytime soon since Xcode 11.4+ requires macOS Catalina 10.15.2 or later.

This is a breaking compatibility change, so please add it to release notes.

[2020-06-09 08:22] ealeksandrov commented on #102
Freshchat SDK is supplied as a binary static lib, which is not supported by current versions of SPM/Xcode.

Binary dependencies support ([SE-0272](https://github.com/apple/swift-evolution/blob/master/proposals/0272-swiftpm-binary-dependencies.md)) is included into Swift 5.3 to be released in the future.

[2020-06-10 13:59] henkvanderspek opened #107 "Localization issues"
Hello, we are currently integrating Freshchat SDK in our iOS app. We're running into some issues though regarding localizations. For one, we notice the copy is quite different on iOS than Android. Something we feel needs to be consistent, unless for a good reason.

For instance this sentence:

[code]

It has quite a different meaning (guarantee vs. guideline) and might be perceived differently by

[2020-06-11 05:44] #107 closed

[2020-06-11 07:41] failynsedik commented on #99
Hello @bestwnh. Thanks for that and sorry for the late response. Have you tried to upload using Xcode 11.5? Do you know if Apple (Xcode team) has fixed it?

[2020-06-12 13:59] bestwnh commented on #99
@failynsedik Yes. The issue fix by building the project with Xcode 11.5.

[2020-06-17 06:45] hemanth-sudarsan commented on #106
@ealeksandrov The latest version we have made SDK to build from Xcode 11.
In future we will mention it in Release notes.

[2020-06-17 06:45] #106 closed

[2020-06-17 06:46] #104 closed

[2020-06-19 14:00] harish-kumarc commented on #105
Hi @PavelStepanovTomorrow thanks. We have identified the issue and it happens with iOS 13+devices. We will fix this in our next release(s).

[2020-06-20 18:37] SiSa68 commented on #61
@harish-kumarc Also is there any way to disable notification permission request?

[2020-06-22 03:51] harish-kumarc commented on #61
For badge update we are checking with team how this can be improved.
@SiSa68 The push permission prompt will comes if app has push capabilities and user hasn't enable push.
To disable inapp banner config flag can be set to false "config.showNotificationBanner =false".
Just to disable all Freshchat only notification for your app, the workaround is to upload a valid certificate with different bundle

[2020-06-24 12:07] hb2708 commented on #66
@harish-kumarc I also started getting crash i updated the sdk to **3.7.0** and it happened some times only first time chat user so far

[code]

attaching long for reference

[2020-06-24 12:14] hb2708 commented on #66
my crash looks same yours @Geoffrey-T does that still happens for you?

[2020-06-24 12:34] Geoffrey-T commented on #66
@hb2708 Crash still happen for me, but it's insubstantial considering number of occurrences.

[2020-06-24 12:48] hb2708 commented on #66
@Geoffrey-T What sdk version you have currently coz my one happed in the test build so far when I updated the sdk  so if the sdk update is the reason I might just discard the sdk update then

@harish-kumarc I updated from **2.5.2** to **3.7.0**

[2020-06-24 12:54] Geoffrey-T commented on #66
@hb2708 Version in production is 3.2.1, and 3.7.0 will be live in few days... I keep you posted if crashes number increase after it.

[2020-06-26 02:24] hb2708 commented on #66
@harish-kumarc @SanjithKanagavel @hemanth-sudarsan Anyone of you did checked on this seems like it's been there since few releases. Not that frequent but it happens

[2020-07-07 07:53] harish-kumarc commented on #92
@iangmaia  we have fixed the issues with latest changes https://github.com/freshdesk/freshchat-ios/tree/carthage

[2020-07-07 07:58] harish-kumarc commented on #29
With latest changes in Carthage (https://github.com/freshdesk/freshchat-ios/tree/carthage) now customization is possible  for SDK screens.

[2020-07-08 04:24] #92 closed

[2020-07-08 04:24] #29 closed

[2020-07-08 15:20] mfmansueli opened #108 "Fatal Exception: NSInvalidArgumentException *** -[__NSDictionaryM setObject:forKey:]: object cannot be nil (key: 8) -[FCMessageController handleUserEvadedCSAT] keyboard_arrow_down"
FreshChat SDK 3.7.1

Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x1dfe8a3a8 __exceptionPreprocess
1  libobjc.A.dylib                0x1df08fd00 objc_exception_throw
2  CoreFoundation                 0x1dfe01870 _CFArgv
3  CoreFoundation                 0x1dfd73714 -[__NSDictionaryM setObject:forKey:]
4  Shipp Cliente                  0x10313be04 -[FCMessageContro

[2020-07-08 15:22] mfmansueli opened #109 "Crash -[FCMessageController willMoveToParentViewController:]"
FreshChat SDK 3.7.1

Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x193405c68 (Ausente)
1  libobjc.A.dylib                0x19311d79c (Ausente)
2  CoreFoundation                 0x193472aac (Ausente)
3  CoreFoundation                 0x19347e48c (Ausente)
4  CoreFoundation                 0x1932eb2a8 (Ausente)
5  Shipp Cliente                  0x1008cf530 -[FCMessa

[2020-07-08 15:23] mfmansueli opened #110 "Crash -__60-[FCDataManager deleteAllEntriesOfEntity:handler:inContext:]_block_invoke"
FreshChat SDK 3.7.1

Crashed: com.apple.main-thread
0  CoreData                       0x1a3235510 -[NSManagedObjectContext _thereIsNoSadnessLikeTheDeathOfOptimism].cold.1 + 28
1  CoreData                       0x1a30b00b0 -[NSManagedObjectContext _youcreatedanNSManagedObjectContextOnthemainthreadandillegallypassedittoabackgroundthread] + 14
2  CoreData                       0x1a2f792c4 -[NSManaged

[2020-07-08 15:25] mfmansueli opened #111 "Crash -[FCDataManager save]"
FreshChat SDK 3.7.1

Crashed: com.apple.main-thread
0  CoreData                       0x18d6c1510 -[NSManagedObjectContext _thereIsNoSadnessLikeTheDeathOfOptimism].cold.1 + 28
1  CoreData                       0x18d53c0b0 -[NSManagedObjectContext _youcreatedanNSManagedObjectContextOnthemainthreadandillegallypassedittoabackgroundthread] + 14
2  CoreData                       0x18d4052c4 -[NSManaged

[2020-07-09 09:25] harish-kumarc commented on #108
Thanks for the logs @mfmansueli, we will analyse and update you. Do you have any steps to replicate the crash?

[2020-07-09 09:28] harish-kumarc commented on #109
Thanks for the logs. We have made improvements with SDK v3.7.2, can you update and let us know if the crash still happens.

[2020-07-09 09:30] harish-kumarc commented on #110
Thanks for the logs @mfmansueli, we will analyse and update you on this.

[2020-07-10 11:34] vlamoly opened #112 "Application Crashing"
Hello,
Our iOS application is not working anymore because while starting we have
It was working 3 hour ago. Please help, all of our customers is blocked.

`
[INFO]  CoreData: annotation:  Failed to load optimized model at path '/Users/LasticLaptop/Library/Developer/CoreSimulator/Devices/647D7AF9-2888-4BF8-8844-582C88EF2EBD/data/Containers/Bundle/Application/82D777C2-D605-4263-A51A-338C76E1D4C3/Psy

[2020-07-14 03:18] harish-kumarc commented on #112
Hi @vlamoly, Can you please try clearing the project and then delete derived data.

[2020-07-16 06:21] Ganyev commented on #61
@harish-kumarc also faced with this inconvenience issue. Any news for it?

[2020-07-17 05:37] Ganyev opened #113 "Chat closes after opening from push notification in app killed condition"
Hello there,
I've integrated push notifications and everything is fine.
When app is in background and push notification comes, after tapping on it, app opens and chat starts.
But if app was killed and I get push notification, app starts and chat also opens and closes automatically.
You can see video here: [link](https://drive.google.com/file/d/1N36AJerr-9FafRqGnqrS7WSjQe2J93Cn/view?usp=sharing)

[2020-07-17 07:05] Ganyev opened #114 "notificationBanner in app overlays status bar"
Hello there,
When we get a message, it is shown in notificationBanner. And on devices like iPhone 6,7,8 this banner overlays status bar and it looks not pretty.
<img width="357" alt="Снимок экрана 2020-07-17 в 13 08 18" src="https://user-images.githubusercontent.com/41617899/87758629-9f9ae200-c82e-11ea-9965-878daf9842e9.png">

Can you, please, make this banner's frame higher or something to fix th

[2020-07-20 03:56] #113 closed

[2020-07-21 04:35] harish-kumarc commented on #114
Hi @Ganyev , which version of SDK are you using inside your application? The issues was there with old versions and fixed with release v3.3.0.

[2020-07-21 04:51] Ganyev commented on #114
@harish-kumarc hi, we facing this issue on version 3.3.0

[2020-07-21 16:07] #109 closed

[2020-07-21 16:14] harish-kumarc commented on #114
@Ganyev With release v3.3.3 (https://github.com/freshdesk/freshchat-ios/releases/tag/v3.3.3) its fixed and mentioned under bug fixes in release notes. Apologies as previously mentioned v3.3.0 instead of v3.3.3.

[2020-07-22 09:12] saltyskip commented on #102
Any update on this

[2020-07-22 11:29] Ganyev commented on #114
Thanks!

[2020-07-22 11:29] #114 closed

[2020-07-28 10:59] hemanth-sudarsan commented on #66
@hb2708 We have fixed this issue. Please check in the latest version, if problem persists please feel free to open this.

[2020-07-28 10:59] #66 closed

[2020-08-06 04:22] harish-kumarc commented on #63
We have optimise the FAQ behaviour for article list view and article detail view with release [v3.7.4](https://github.com/freshdesk/freshchat-ios/releases/tag/v3.7.4). Please update to latest SDK.

[2020-08-06 04:22] #63 closed

[2020-08-06 04:46] harish-kumarc commented on #111
@mfmansueli We have made changes with release [v3.7.4](https://github.com/freshdesk/freshchat-ios/releases/tag/v3.7.4). Please update to latest SDK and let us know if the issue resurface again.

[2020-08-06 04:51] harish-kumarc commented on #110
@mfmansueli We have fixed it with release [v3.7.4](https://github.com/freshdesk/freshchat-ios/releases/tag/v3.7.4). Please update to latest SDK.

[2020-08-06 04:55] harish-kumarc commented on #108
We have the crash with release [v3.7.4](https://github.com/freshdesk/freshchat-ios/releases/tag/v3.7.4). Please update to latest SDK.

[2020-08-07 05:36] #108 closed

[2020-08-07 05:36] #111 closed

[2020-08-07 05:36] #110 closed

[2020-08-07 05:43] harish-kumarc commented on #112
@vlamoly, Hope your query is resolved, Feel free to open if it comes again. Thanks

[2020-08-07 05:43] #112 closed

[2020-08-10 13:25] MuthuFD opened #115 "test issue - ignore"

[2020-08-10 13:25] #115 closed

[2020-08-12 16:23] gavin928 opened #116 "Cannot attach files"
Hello~
I got an issue about attaching the files. I have integrated the sdk of version 3.7.4 successfully which is tested to have conversation between console and the app. However, when I tried to click the attach icon on the bottom left corner, the button is highlighted and keyboard released but no gallery was shown. Could anybody please help about this issue? I have already set the NSPhotoLibrary

[2020-08-13 00:47] harish-kumarc commented on #116
Thanks for the information, We have tried and failed to replicate the issue. Can you please let us know the following:
1. Which version of XCode are you using to build the project
2. iOS version with device name.
Thanks

[2020-08-13 02:49] gavin928 commented on #116
1. Xcode 11.2.1
2. iPhone 11 - 13.2.2 & iPhone SE - 10.3.1

[2020-08-16 07:06] sslash opened #117 "Issue with `setPushRegistrationToken` - token seems to be transformed"
We are having an issue with registering push notification tokens on ios, through React native.
The problem seems to be with the token that is saved when we call `Freshchat.setPushRegistrationToken(pushToken)`. The token we have on the javascript side is a valid token, but on the native side, its a different and presumably invalid token.
We've proved that the token we have on JS is correct, by send

[2020-08-16 08:55] hemanth-sudarsan commented on #117
@sslash Can you please send the notification debug result you got. Also passing token from both native and react native it will work. The difference here is in react native the library you use for push notification will convert data to string, whereas in native side you are getting the raw data (both should work in Freshchat SDK). Also confirm whether you are checking in debug app build with debug

[2020-08-16 10:05] sslash commented on #117
Here's the debug log: https://web.freshchat.com/app/api/notif_debug?convId=388322550961908

I'm running the app in debug mode on my phone. I've uploaded both prod and sandbox certificates to Freshchat (checking the production certificate box to `on` for the prod certificate). How do I know whether freshchat use the sandbox and not production certificate when I run the app in debug mode?

[2020-08-17 02:38] harish-kumarc commented on #116
Hi @gavin928 we tried with similar device configuration but failed to replicate the issue. Can you share a sample app with us so we can analyse if anything missed.

[2020-08-17 04:44] hemanth-sudarsan commented on #117
@sslash We dont have access to your account. Please attach the log results you got in the support ticket you have raised, which will be very helpful for further debugging.

[2020-08-17 05:36] sslash commented on #117
My mistake, here's the output:
[code]

[2020-08-17 07:30] hemanth-sudarsan commented on #117
@sslash Can you please let me know what version of React native Freshchat SDK is being used?

[2020-08-17 08:23] sslash commented on #117
react-native-freshchat-sdk@2.6.2

[2020-08-17 11:09] harish-kumarc commented on #116
Hi @gavin928, We are closing the issue as you have mentioned in conversation with our support team that `your project's method swizzling is blocking attachment option alert controller to present`.

[2020-08-17 11:09] #116 closed

[2020-08-17 12:21] hemanth-sudarsan commented on #117
@sslash
2020-08-17 17:41:53.121092+0530 oldfirebase[2440:737271] [javascript] 'Your APNS Token is:', '2A8DE8938D6E9F10EA2FBD819ADD304C237518A80338CA962C189085BF613794'
2020-08-17 17:42:17.906011+0530 oldfirebase[2440:737572] FRESHCHAT: Push token registered : 2a8de8938d6e9f10ea2fbd819add304c237518a80338ca962c189085bf613794
I tried in my sample project its working as expected.
And from the push tok

[2020-08-21 05:42] hemanth-sudarsan commented on #117
@sslash Is this one resolved?

[2020-08-26 05:02] sslash commented on #117
@hemanth-sudarsan I just ran the newfirebase project, and it works great! I noticed you never call `setPushRegistrationToken`, even though push handling works as it should. Whats the reason for that? The docs seem to state clearly that in order to have push notifications you must call this function. I might be misunderstanding of course 😬

[2020-09-01 05:24] thidayatullah commented on #90
@hemanth-sudarsan
`sendMessage()` function send the message automatically by the SDK and therefore takes over control from User.
I agree with @marcknock that we need the text to be pre-filled (and user can edit it) before sending it them self.

[2020-09-01 05:32] thidayatullah opened #118 "Function to check if the conversation already being shown to prefer multiple instance."
I have a case when a `showMessage()` function called multiple times, and it causes a multiple layer of chat screen being presented.
It would be great if there's a function / notification we can observe to check if the chat screen is currently being presented or already closed.

For example with Intercom SDK there's `IntercomWindowDidShow` and `IntercomWindowDidHide` Notification we can observe.

[2020-09-01 11:42] pendakill opened #119 "International Compatibility"
When it comes to internationalization, it is found that no matter what form of Chinese is, it can only be recognized and read zh.lporj , unable to distinguish traditional Chinese from simplified Chinese！！！

[2020-09-04 05:59] hemanth-sudarsan commented on #117
@sslash I put the calls inside Appdelegate.m file (Handling all push notifications codes natively). Please have a look into the file.

[2020-09-07 08:29] thongncvn commented on #42
Hi @harish-kumarc, I'm on v3.7.4 and still don't see support for close event. Is there any plan on adding this?

[2020-09-07 19:36] harish-kumarc commented on #42
Hi @thongncvn , We don't have close event in SDK. Can you give us more context on your use case for "close" event.

[2020-09-07 19:45] harish-kumarc commented on #118
HI @thidayatullah , you can listen to FreshchatSDK events to achieve it. The two events 1. "FCEventChannelListOpen" (for topics /channels list view) and 2. "FCEventConversationOpen"(when topic/channel message view opens) can be used for your use case. Please find more in events documentation [here](https://support.freshchat.com/support/solutions/articles/50000000057-how-to-track-user-actions-happe

[2020-09-08 02:34] thongncvn commented on #42
@harish-kumarc sure. I'm implementing a chat head. When user taps on it, Freshchat modal will appear and the chat head disappears. When user close the modal, the chat head appears. In addition, the chat head is put on an overlay (wix/react-native-navigation's).

On Android this behavior is great. But on iOS, Freshchat modal appears but lies behind the chat head overlay, hence the chat head doesn't

[2020-09-14 18:47] #118 closed

[2020-09-15 03:40] thidayatullah commented on #118
Thanks @harish-kumarc !

[2020-09-15 09:10] thongncvn commented on #42
@harish-kumarc if Freshworks team has any further information or decision about this issue, please let me know. Many thanks!

[2020-09-16 12:25] maheshsphinx opened #120 "Not able to set Navigation Title and icon color."
I am using FreshchatSDK 3.4.0 pod version,
Please see the attached image. I am not able to set white color to navigation title, search icon and Close button. But it doesn't work.
I have done with FCTheme.plist changes.
NavigationBar -> textColor -> #FFFFFF
ActionButtonStyle -> #FFFFFF
But changes are not reflected.
Please help me ASAP.
Thanks

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-09-

[2020-09-17 10:44] harish-kumarc commented on #120
Hi @maheshsphinx ,
Please cleaning the build and run your project.

To change title colour user key highlighted below in FCTheme.plist
<img width="907" alt="Screenshot 2020-09-17 at 4 07 28 PM" src="https://user-images.githubusercontent.com/16202319/93459931-20925a80-f900-11ea-80de-60fd263b4e31.png">

For Close Button -
<img width="906" alt="Screenshot 2020-09-17 at 4 10 17 PM" src="https://user-i

[2020-09-17 10:51] #120 closed

[2020-09-17 10:56] maheshsphinx commented on #120
@harish-kumarc Its working now!

[2020-09-18 12:25] iangmaia commented on #102
Now that Xcode 12 / Swift 5.3 has been released, this finally became feasible (and important for developers using the SDK)

[2020-09-24 11:24] #117 closed

[2020-09-29 09:46] harish-kumarc commented on #105
Hi @PavelStepanovTomorrow the issue is fixed with SDK release [v3.7.7](https://github.com/freshworks/freshchat-ios/releases/tag/v3.7.7). Please update and let us know.

[2020-09-29 09:46] #105 closed

[2020-10-07 05:35] deep-pradhan-fw commented on #119
@pendakill, You will get the fix in our next release. Thanks.

[2020-10-09 08:18] alihanaktay opened #121 "Adding custom icon image with custom theme .plist file with correct file path"
Hello I've created custom theme file for our freshchat integration. I can change all the colors and the text styles but when I try to change icon images  I can't add them to the project. Probably I'm not giving correct path to the icon file. Can you help me about this.

**This is where images and theme plist file saved.**
![Screen Shot 2020-10-09 at 11 15 04](https://user-images.githubusercontent.

[2020-10-13 06:29] hemanth-sudarsan commented on #121
@alihanaktay
You can just mention the image name alone in your case.

[2020-10-13 12:24] alihanaktay commented on #121
You mean like below right if so I've tried before it's still not working :(

![Screen Shot 2020-10-13 at 15 22 35](https://user-images.githubusercontent.com/4999796/95859996-17ae7080-0d68-11eb-85a1-62efc8dd896f.png)

![Screen Shot 2020-10-13 at 15 22 43](https://user-images.githubusercontent.com/4999796/95860007-1bda8e00-0d68-11eb-816d-0cdfd7f2140c.png)

[2020-10-13 13:05] hemanth-sudarsan commented on #121
@alihanaktay Once you have made the change in Theme file, clean the build and run it.
Also make sure the images are included in Copy Bundle Resources under Build Phases.

[2020-10-14 05:05] hemanth-sudarsan commented on #121
@alihanaktay Let me know if this is working at your end.

[2020-10-16 09:36] hemanth-sudarsan commented on #121
@alihanaktay closing the issue. Reopen if it's not resolved.

[2020-10-16 09:36] #121 closed

[2020-10-20 10:07] alihanaktay commented on #121
It's working perfectly thank you so much for your all help. @hemanth-sudarsan

[2020-10-21 03:02] Linkadi98 opened #122 "Freshchat sent wrong user property and channel"
Hello,

I have an issue when sending user property and channel in fresh chat, sometimes freshchat can not send user property and channel therefore the messages of customer were redirected to wrong channel, almost times this issue doesn't happen but not 100%. I have set up freshchat following Freshchat doc but this issue still is a headache for me.

Could you provide some solutions for me to handle

[2020-10-21 04:46] harish-kumarc commented on #122
Hi @Linkadi98 ,
Need few clarification from your side. The issue you refers is user properties update(name, email, phone etc) and opening specific topic or channel based on tags provided?
Also wants to know if the messages aren't sent to correct topic, then are they going to default channel/topic? If so then the tags aren't matching with existing tags for topics and in that case messages will be s

[2020-10-22 07:36] Linkadi98 commented on #122
Hello,

Thank you because of quick reply, I use a tag and a key to send user property to redirect freshchat user to a specific channel, when logins in app, if user is new one then I use `resetUser` api to clear the current user associated to the SDK, then use `setUserProperty(forKey:_, value:_)` api to redirect freshchat user to a channel with specific key and tag I defined.  In case login user do

[2020-10-22 11:29] harish-kumarc commented on #122
Hi @Linkadi98 got some gist from your explanation. Need one more info from your side, when you are redirected to default channel, what kind of users actually facing/experiencing this behaviour - new users or old users. As what I am suspecting is when resetuser API is called in that get topics is also there and within that we have tag values for topics. So if there is network delay then tags aren't

[2020-10-23 07:54] mallikarjun046 commented on #71
Loading indefinitely for the first time(android)

[2020-10-23 09:33] hemanth-sudarsan commented on #95
@marcknock Fixed this issue. Thanks for letting us know about the issue.

[2020-10-23 09:33] #95 closed

[2020-10-23 09:34] hemanth-sudarsan commented on #81
@marcknock Fixed this issue. Thanks for letting us know about the issue.

[2020-10-23 09:34] #81 closed

[2020-10-27 07:19] hemanth-sudarsan commented on #119
@pendakill Closing this issue, SDK v3.7.8 have this fix.

[2020-10-27 07:24] #119 closed

[2020-10-30 05:58] harish-kumarc commented on #122
Hi @Linkadi98, Let us know if are you able to resolve the issue.

[2020-10-30 09:54] Linkadi98 commented on #122
Hello,

I have follow your suggestion and it works perfectly, thank you!

[2020-10-30 09:54] #122 closed

[2020-11-13 12:38] sandpat commented on #102
I tried creating an xcframework to share the binary via SPM but seems like the static library provided in the repo is an universal libary targeted for multiple platforms and one cannot create .xcframework file using this binary.
[code]

`error: binaries with multiple platforms are not supported`

[2020-11-17 14:23] rafaelescoffier opened #123 "Carthage build error with Xcode 12.2"
When building the latest Carthage version (v3.7.2), we are getting the following error:

`ld: in .../iOS/Carthage/Checkouts/freshchat-ios/FreshchatCarthage/FreshchatCarthage/libFDFreshchatSDK.a(FCViewController.o), building for iOS Simulator, but linking in object file built for iOS, file '.../iOS/Carthage/Checkouts/freshchat-ios/FreshchatCarthage/FreshchatCarthage/libFDFreshchatSDK.a' for archite

[2020-11-17 14:24] rafaelescoffier opened #124 "Carthage version outdated"
The latest release (4.0.1) was no added to the Carthage branch

[2020-11-19 14:55] harish-kumarc commented on #124
Thanks @rafaelescoffier , we will update to latest version soon.

[2020-11-20 01:34] billThePill commented on #123
Ditto. I am having a similar issue when attempting to build/run on iOS 14.2 Simulator (or 14.1 Simulator) on an Apple Silicon Mac. This does not occur when building for running on iOS 13.5 Simulator. If I build/run on the same simulators on an Intel Mac, I do not have the error. Building to an iPhone device running iOS 14.2 is not an issue either.

See a similar issue with Flutter: https://github.

[2020-11-20 08:29] rafaelescoffier commented on #124
Thanks @harish-kumarc

[2020-11-26 07:37] nimi0112 commented on #71
@mallikarjun046  how did you resolve this issue?

[2020-11-26 10:13] harish-kumarc commented on #123
@billThePill thanks for the info. We will check and update.

[2020-12-07 18:55] ilkerc opened #125 "[Catalyst] Support For XC Framework"
Any roadmap on supporting catalyst builds? #102

[2020-12-10 16:28] ilkerc commented on #125
@hemanth-sudarsan is this an active repository?

[2020-12-14 05:36] hemanth-sudarsan commented on #125
@ilkerc We dont have any plans on doing this in near future.
If anything urgent you can reach out to our product team.

[2020-12-21 13:35] miranhrupacki commented on #12
Hello guys, is it possible for ios sdk, when i call function showConversation, that user chat history stays saved for him whenever he enters app? Also, I can't manage to get history of my conversations, what am I doing wrong? I can send you my code how I set up my app. If you don't understand what i meant by that, just look picture of raviLakhtariya, he sent picture of inbox, thats what I want.

[2020-12-30 07:23] kientux commented on #125
Xcode 12.3 abandoned fat-binary framework, it enforces to use xcframework so we can no longer build our app with Freshchat dependency.

[2020-12-30 10:22] ivanngeorgiev123 opened #126 "Change status bar text color"
Hello,

I've been struggling with the problem that I can't change the status bar text color. From the documentation I saw that it's possible to change just the background color:
![Screenshot 2020-12-30 at 12 18 02](https://user-images.githubusercontent.com/53906340/103345073-12281300-4a99-11eb-8701-beaf98d20fec.png)

Currently with our implementation the status bar looks that way:
<img width="413"

[2021-01-04 10:17] harish-kumarc commented on #126
Hi @ivanngeorgiev123 , For Freshchat Screens we support navigation bar colour as status bar colour for better UI. To change the text colour to light mode you have to add key "View controller-based status bar appearance" into your app info.plist file with value as "NO" and finally set "Status Bar Style" value to "Light Content" from dropdown option under Project Target-> General.

[2021-01-05 12:15] MuhammadBilal5674 opened #129 "App crashing while set FCData"
<img width="1062" alt="Screenshot 2021-01-05 at 5 10 27 PM" src="https://user-images.githubusercontent.com/73555616/103645250-87a05180-4f79-11eb-88a1-4e6326863a6e.png">

[2021-01-05 12:15] MuhammadBilal5674 commented on #129
Using sdk v(4.1.1)

[2021-01-08 09:08] rafaelescoffier commented on #123
@harish-kumarc Any updates on this? Xcode 12 was released on September 16, 2020, not to mention all the betas before. And your SDK still doesn't fully support it. This is embarrassing to say the least.

[2021-01-11 03:31] harish-kumarc commented on #126
Closing the issue as there is no activity. Please open if the above solution isn't working for you.

[2021-01-11 03:31] #126 closed

[2021-01-11 06:45] deep-pradhan-fw commented on #129
Hi @MuhammadBilal5674 .
Please help us with these information -
1. iOS Version
2. Device/simulator model name?
3. Is the bug reproducible ? If yes, please share the steps.

Thanks.

[2021-01-12 15:27] yasirtrimulabs opened #130 "Hide Notification Content"
How to hide the content of the notification like the message from agent? So that the notification only says you have a new notification with out displaying it.

[2021-01-13 13:01] MuthuFD commented on #130
Duplicate of this [issue](https://github.com/freshworks/freshchat-android/issues/123). Closing this.

[2021-01-13 13:05] #130 closed

[2021-01-15 07:21] agrawalsurabhi89 commented on #88
I'm facing similar issue. What is the proper solution if anyone can help. I' trying to upgrade manually, Not using pods in my project

[2021-01-15 11:41] kondratk commented on #87
Hi,
we are experiencing the same problem at iOS SDK 4.1.3.

[2021-01-18 13:41] yasirtrimulabs commented on #62
Hi @bobby-snap can you tell me how did you change the message background to purple?

[2021-01-19 13:31] hemanth-sudarsan commented on #129
@MuhammadBilal5674 We could'nt reproduce this issue.
We will keep an eye on this issue.
Closing this for now, feel free to open this if you could reproduce this again.

[2021-01-19 13:31] #129 closed

[2021-01-26 08:02] miranhrupacki opened #131 "Getting errors in console for system blue color and factory registered id"
Hello, since I imported your Freshchat SDK and plist, I keep getting these errors in console:

2021-01-26 08:50:59.537836+0100 NameOfMyProject[7318:249413] color <UIDynamicSystemColor: 0x600002e23bc0; name = systemBlueColor>

and

2021-01-26 08:50:59.623563+0100 NameOfMyProject[7318:249413] [plugin] AddInstanceForFactory: No factory registered for id <CFUUID 0x600003baeaa0> F8BB1C28-BAE8-11D6-9C31

[2021-01-27 07:07] harish-kumarc commented on #131
Hi @miranhrupacki , systemXXXColor is added with Xcode 11 and iOS 13+, FreshchatSDK supports iOS 8+ so it is just a console log warning and shouldn't create any issue.

[2021-01-27 07:32] miranhrupacki commented on #131
Ok, thanks @harish-kumarc. Do you know more about second error, factory id?

[2021-02-01 10:16] harish-kumarc commented on #131
@miranhrupacki , Other warning doesn't look like via Freshchat, This [link](https://stackoverflow.com/questions/58360765/swift-5-1-error-plugin-addinstanceforfactory-no-factory-registered-for-id-c) can help you more to fix it.

[2021-02-01 10:16] #131 closed

[2021-02-02 08:51] vipulRajput opened #132 "Exception: "*** -[NSBundle initWithURL:]: nil URL argument"
I'm not able to initialise the Freshchat SDK, from the time I started integrating it:-
|
|
let fchatConfig =  FreshchatConfig(appID: "x", andAppKey: "x")
fchatConfig.domain = "x.in.freshchat.com"
Freshchat.sharedInstance().initWith(fchatConfig)
|
|
|
|
you can check this for more info as well:-
*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[NSBundle init

[2021-02-02 08:54] vipulRajput commented on #132
for more info:-
Xcode version:- 11.6
FreshChat SDK version:- 4.1.5
I'm running app in simulator.

[2021-02-02 09:42] vipulRajput commented on #132
CoreData: error:  Cannot load NSManagedObjectModel.  nil is an illegal URL parameter

[2021-02-02 09:49] vipulRajput commented on #132
[error] error:  Cannot load NSManagedObjectModel.  nil is an illegal URL parameter
CoreData: error:  Cannot load NSManagedObjectModel.  nil is an illegal URL parameter
2021-02-02 15:19:22.384584+0530 Niyo Global[24891:340916] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[NSBundle initWithURL:]: nil URL argument'
*** First throw call stack:
(
	0   CoreFo

[2021-02-02 09:56] vipulRajput commented on #132
@harish-kumarc @hemanth-sudarsan  can you guys help me please???

[2021-02-02 11:44] harish-kumarc commented on #124
Hi @rafaelescoffier we have updated our Carthage branch. Please check [here](https://github.com/freshworks/freshchat-ios/tree/carthage)

[2021-02-02 11:44] #124 closed

[2021-02-02 11:52] harish-kumarc commented on #132
Hi @vipulRajput can you please clean your project, remove FreshchatSDK via commenting ```Pod FreshchatSDK``` in Podfile and after that uncomment ```Pod FreshchatSDK``` and call pod install again. Also please try out our [samples](https://github.com/freshworks/freshchat-ios/tree/master/Sample) here with your AppId and Appkey.

[2021-02-02 11:58] harish-kumarc commented on #123
Hi @rafaelescoffier , We have updated Carthage branch with solution of the above issue. Please check ```Note: Point 2``` before installation instructions [here](https://github.com/freshworks/freshchat-ios/tree/carthage)

[2021-02-02 11:58] #123 closed

[2021-02-02 12:32] vipulRajput commented on #132
@harish-kumarc I tried everything, it just not getting initialised properly.....
and I checked sample project already, thats working fine.

[2021-02-02 12:35] vipulRajput commented on #132
@harish-kumarc its run time error, project is able to  build successfully...

[2021-02-03 10:27] rafaelescoffier commented on #124
@harish-kumarc Thanks for the update

[2021-02-04 13:26] idoNaveh commented on #102
Do you have an update on when the SPM support will be available?

[2021-02-06 21:31] TOrnelas opened #133 "Attributes cameraCaptureEnabled and gallerySelectionEnabled not working"
## Describe the bug
Setting `gallerySelectionEnabled` and `cameraCaptureEnabled` on the initialisation does not show any UI for this on the chat view.

I'm initialising the SDK on `didFinishLaunchingWithOptions` as follows:

[code]

## Expected behavior
Some camera UI should be available on the chat UI, in order for the user to upload media.

## Platform
- [x] iOS

## Freshchat SDK version
- SDK v

[2021-02-10 06:38] hemanth-sudarsan commented on #133
@TOrnelas
If you have not added the following keys in your info.plist, it will not show the options.
Privacy - Camera Usage Description
Privacy - Photo Library Usage Description
You would have got the logs about the same in console.

[2021-02-10 06:38] #133 closed

[2021-02-10 06:51] hemanth-sudarsan commented on #132
@vipulRajput
Can you confirm whether you have this step under Build phases of your target.
<img width="813" alt="Screenshot 2021-02-10 at 12 19 00 PM" src="https://user-images.githubusercontent.com/45059530/107475581-5f1ffe80-6b9a-11eb-8c94-6be235c253aa.png">
If not then this issue will occur, you have to manually add these steps.

[2021-02-11 11:29] hemanth-sudarsan commented on #132
@vipulRajput Closing this issue. If you still face this issue please reopen it.

[2021-02-11 11:29] #132 closed

[2021-02-11 11:46] Sathyan-Elangovan opened #134 "Oops No messages here when I open the app for the first time in IOS"
When I open the app for the first the time & try to open the fresh chat, it is showing "Oops! No messages here" screen. After that I closed the app & opened it again. If i open the fresh chat now, it is working, showing the chat screen. I couldn't find any issues here.But I don't why its not working while opening for the first time

[2021-02-11 14:37] hemanth-sudarsan commented on #134
@Sathyan-Elangovan
First time it wait for channels to fetch, so thats why you were seeing that message. But once channels are fetched, it will switch to channel list or messaging screen directly. Can you delete the app and check on first time by being there on the screen for sometime. It will switch automatically, if not switching please send the screenshot.

[2021-02-12 06:01] Sathyan-Elangovan commented on #134
@hemanth-sudarsan
Thanks.I will check that & update you

[2021-02-12 06:59] Sathyan-Elangovan commented on #134
Hi @hemanth-sudarsan  I almost waited for 3 minutes on the same screen it is not switching to any screens .For your reference I am attaching the screen shots.
![2021-02-11-2](https://user-images.githubusercontent.com/61688116/107739010-e94c9c00-6d2d-11eb-915b-469bf1d3853b.jpeg)
![2021-02-11](https://user-images.githubusercontent.com/61688116/107739039-f7022180-6d2d-11eb-939a-d5a6095c8215.jpeg)

[2021-02-12 09:23] hemanth-sudarsan commented on #134
@Sathyan-Elangovan May I know what is the SDK version being used?
Are you using JWT authentication inside SDK? Please also send your SDK code implementation to show conversation.
Send us your Freshchat domain, so we could check from our end.

[2021-02-22 05:31] hemanth-sudarsan commented on #134
@Sathyan-Elangovan Closing this issue.
Please reopen if you face the issue.

[2021-02-22 05:31] #134 closed

[2021-02-25 01:14] marcknock commented on #28
This is still an issue a year on, please, this is a serious issue that needs to be resolved.

[2021-02-25 18:32] ebofi opened #135 "Cordova Plugin is Outdated"
Hi,

The so called Official recommendation for Cordova or Monaca apps, the plugin https://github.com/techaffinity/freshchat-phonegap is outdated and no longer maintained,  Due to recent Ios update on ukwebview etc, we cant use this branch anymore,

So we are asking that, is the Freshworks team does not understand the need of an official plugin release for hybrid apps,. since hybrid apps are changi

[2021-03-01 09:46] hemanth-sudarsan commented on #135
@ebofi Updated the plugin check.

[2021-03-01 09:46] #135 closed

[2021-03-01 16:07] the-kenneth commented on #4
@MuthuFD Is this still being supported? Will there be typescript definitions also?

[2021-03-04 18:10] T2SoftDev commented on #28
@hemanth-sudarsan, @harish-kumarc
Could you please comment on this? https://developer.apple.com/news/?id=c88acm2b

Finally, APNs Auth Key support would be awesome!

[2021-03-04 18:16] T2SoftDev commented on #102
@hemanth-sudarsan, @harish-kumarc
Could you please give us any comments about SPM support?

[2021-03-05 05:09] hemanth-sudarsan commented on #28
@T2SoftDev This is  HTTP/2-based Apple Push Notification service (APNs). We are already supporting it.
If you have any feature requirements, reach out to support@freshchat.com

[2021-03-05 05:18] hemanth-sudarsan commented on #102
We dont have any plans on SPM migration.

[2021-03-05 05:41] marcknock commented on #28
We just need a way to upload a .p8 key so we don't have to **update our certificates every year**, please, this is basic. Comment on that.

[2021-03-05 07:34] hemanth-sudarsan commented on #28
@marcknock
Write to our product support team, support@freshchat.com.

[2021-03-06 00:55] TOrnelas commented on #133
This fixed my issue. However, would be nice to mention this requirement on the documentation 👍

[2021-03-06 18:20] T2SoftDev commented on #102
@hemanth-sudarsan

But why? Apple has done everything to support binary distribution of frameworks with SPM. Even Google has added SPM distribution for their large pack of complicated framewokrs - Firebase. Support for SPM becomes mainstream instead of Cocoapods/Carthage. And you don't have any plans?

So many projects trying to get rid of Cocoapods/Carthage to use SPM as native Apple technology f

[2021-03-06 18:40] T2SoftDev commented on #28
@hemanth-sudarsan It's good to know that your backend is ready, but as @marcknock already said, we need standard straithforward support for APNs auth keys (*.p8) in Freshchat Admin panel instead of deprecated APNs push certificates (*.p12) which we should update every year!

[2021-03-10 09:53] hemanth-sudarsan commented on #125
#136 There is a beta release on SPM with XCFramework support.
Please use the PR and checkout the SDK.
If you are facing any issue, comment in the PR.

[2021-03-10 09:53] #125 closed

[2021-03-10 09:54] #102 closed

[2021-03-10 20:03] SoufianHossam opened #137 "CRASH - [FCMessageController tableView:cellForRowAtIndexPath:] Fatal Exception: NSRangeException"
## Description
This crash is happening randomly in production affecting some of our users.

## Platform
- [x] iOS

## Freshchat SDK version
- SDK version : 4.1.4

## Crash log
[code]

[2021-03-11 10:02] harish-kumarc commented on #137
Thanks @SoufianHossam for the logs. Can we have effected device(s) info with app state(background/foreground) info also.

[2021-03-11 10:09] SoufianHossam commented on #137
iPhone 6, 6s, 6s+, 7, 7+, 8 and Xs Max .. all In foreground.

[2021-03-21 13:10] SoufianHossam commented on #137
@harish-kumarc we still getting this error after updating to the latest SDK version, the numbers are getting higher.

[2021-04-01 12:56] carman247 commented on #28
Would also like support for APNs Auth Key instead of Auth Cert ... Please!

[2021-04-14 14:38] asaturg opened #138 "Keep asking for photo permission"
## Describe the bug
When you allow access only to selected photos, on each app launch app asks for Photos permission
## Steps to reproduce

1. Clean installed app with FreshChat SDK integrated
2. Open Conversation Screen.
3. Press on Attachment icon and select Upload from gallery
4. Choose Selected Photos on Permission popup, select any photo and close
5. Close and relaunch app
6. You will be aske

[2021-04-16 12:40] hemanth-sudarsan commented on #138
@asaturg Will look into this and update you.

[2021-04-22 16:32] hemanth-sudarsan commented on #138
@asaturg You have to have this key PHPhotoLibraryPreventAutomaticLimitedAccessAlert in info.plist and it need to be set to YES.

[2021-04-23 07:18] #138 closed

[2021-05-06 18:04] T2SoftDev opened #139 "Support for Apple Silicon (M1) iOS Simulator"
Trying to run iOS app with latest Freshchat SDK (4.1.8) using latest Xcode 12.5 in native (ARM) mode on Apple Silicon Mac (M1). Running app on iOS device works fine, but building for iOS Simulator causes the following linker error:

_ld: in /Users/Developer/Projects/App/libFDFreshchatSDK.a(FCCategoryViewOmniKBaseBehaviour.o), building for iOS Simulator, but linking in object file built for iOS, fi

[2021-05-09 23:13] otaviocc commented on #139
Hi @harish-kumarc, @hemanth-sudarsan, I'm facing the same problem. Freshchat's the only 3rd-party dependency we depend on which doesn't support the architecture. Do you know if there's a fix on the way? Thanks!

[2021-05-13 10:50] harish-kumarc commented on #28
We have informed our product team regarding this request.
You can reach out to us through support@freshchat.com for further queries.

[2021-05-13 10:50] #28 closed

[2021-05-13 10:50] harish-kumarc commented on #61
We have informed our product team regarding this request.
You can reach out to us through support@freshchat.com for further queries.

[2021-05-13 10:50] #61 closed

[2021-05-13 10:51] harish-kumarc commented on #90
We have informed our product team regarding this request.
You can reach out to us through support@freshchat.com for further queries.

[2021-05-13 10:51] #90 closed

[2021-05-13 10:52] harish-kumarc commented on #87
We have fixed the issue with release v6.6.2. Please update to latest version.

[2021-05-13 10:52] #87 closed

[2021-05-13 10:54] harish-kumarc commented on #139
We have informed our product team regarding this request.
You can reach out to us through support@freshchat.com for further queries.

[2021-05-13 10:54] #139 closed

[2021-05-13 10:57] harish-kumarc commented on #137
We tried fro our side but fail to replicate the crash(s). If you are still facing this issue, please reach out to us through support@freshchat.com

[2021-05-13 10:57] #137 closed